<ul class="popover shadow popover-right ng-animate-disabled" ng-if="popover.visible" ng-style="{'left':popover.x, 'top':popover.y}">
	<li ng-click="editNewsStart()">수정</li>
	<li ng-click="deleteNewsStart()">삭제</li>
</ul>


<div id="sub">
	<sin-editor class="editor card card-primary" ng-repeat="card in editList" ng-animate="{enter:'animate-enter'}" footer="true" type="'edit'" value="card"></sin-editor>
</div>


<div id="main">
<!-- editor start -->
	<div class="card card-default shadow">
		<div class="tabbar">
			<div card-toolbar></div>
		</div>
		<sin-editor class="sin-editor" sin-entries="newses" sin-submit="addNews(text,model)" sin-autofocus="true" sin-mode="default"></sin-editor>
	</div>
	<!-- editor end -->
	<!-- news list start -->
		<article class="card card-default" ng-class="{'card-in-action shadow':news.edit}" ng-repeat="news in newses" ng-if="!news.deleted" ng-animate="{leave:'animate-leave', enter:'animate-enter'}">
				<span class="news-info">
					<span class="news-timestamp">{{news.created.date}}</span>
					<span class="news-timestamp">{{news.created.time}}</span>
					<span class="news-author">{{news.author_name}}</span>
				</span>
				<div class="title">
					<span>{{news.id}}</span>
					<a class="options pull-right ng-animate-disabled" ng-if="!news.edit" ng-click="popoverToggle($event,news)">
						<span class="glyphicons glyphicons-more"></span>
					</a>
				</div>
				<div class="body ng-animate-disabled" ng-bind-html="news.trustText" ng-if="!news.edit"></div>
				<sin-editor class="body ng-animate-disabled" sin-class="" value="news" sin-submit="editNewsEnd(id, text)" ng-if="news.edit" sin-autofocus="true" sin-mode="default-edit"></sin-editor>
				<div class="comments" ng-if="!news.edit" ng-animate="{leave:'animate-leave', enter : 'animate-enter'}">
					<ul>
						<li class="comment ng-animate-disabled" ng-repeat="comment in news.comments" ng-if="!comment.deleted">
							<figure class="usertag">
								{{comment.author_name}}
								<a class="options glyphicons glyphicons-remove-2 btn ng-animate-disabled pull-right" ng-if="!comment.edit" ng-click="deleteComment(comment)"></a>
							</figure>
							<article ng-if="!comment.edit">
								<span ng-bind-html="comment.trustText"></span>
								<a class="options glyphicons glyphicons-pencil btn ng-animate-disabled" ng-click="editCommentStart(comment)"></a>	
							</article>
							<sin-editor sin-class="edit" class="ng-animate-disabled" value="comment" sin-autofocus="true" sin-submit="editCommentEnd(id, comment)" ng-if="comment.edit" sin-mode="inline-edit"></sin-editor>
						</li>
					</ul>
					<sin-editor class="comment-input" sin-entries="news.comments" sin-submit="addComment(text,model)" sin-mode="inline"></sin-editor>
				</div>
		</article>
		<!-- news list end -->
		<loading ng-if="!fetchedAll" ></loading>
	<footer></footer>
	<!--  Drop File:
    <div ngf-drop ngf-select ng-model="files" class="drop-box" 
        ngf-drag-over-class="dragover" ngf-multiple="true" ngf-allow-dir="true"
        accept="image/*,application/pdf" 
        ngf-pattern="'image/*,application/pdf'">Drop pdfs or images here or click to upload</div>
    Files:
    <ul>
        <li ng-repeat="f in files" style="font:smaller">{{f.name}} {{f.$error}} {{f.$errorParam}}</li>
    </ul>
    Upload Log:
    <pre>{{log}}</pre>
    <img ngf-src="!files[0].$error && files[0]"> -->


	<!-- <input ng-model="text.value" style="width: 400px;"> -->
	<!-- <input ng-model="hash.typed"> -->
	<!-- http://jsfiddle.net/MWe8U/ -->
	<!-- http://jsfiddle.net/lsiv568/fsfPe/10/ -->
</div>