
<div id="header" ng-if="global.isLoggedIn()" ng-animate="{enter:'animate-enter'}" ng-class="{'enter-searchResult': !searchBar.hide}">
	<div id="header-wrapper" class="global-width margin-auto">
		<div id="searchBar-wrap">
			<input id="searchBar" class="form-input transparent" type="text" ng-model="searchBar.value" kr-input ng-focus="searchFocused()">
			<span class="glyphicons glyphicons-search placeholder" ng-if="!searchBar.value"></span>
			<a class="close placeholder" ng-if="searchBar.value" ng-click="searchBar.clear()"></a>
		</div>
		<ul id="glb">
			<li id="{{button.id}}" ng-repeat="button in navObject.header.buttons" sin-popover="button.popover()">
				<a><span class="{{button.icon}}"></span></a>
			</li>
		</ul>
	</div>
</div>
<div id="main-nav" ng-if="global.isLoggedIn()">
	<ul>
		<li ng-repeat="button in navObject.sub.buttons" ng-class="{'active': (section+'.'+button.link | routeSegmentStartsWith)}">
			<a ng-click="link_provider.navigate(button.link)"><span class="{{button.icon}} icon"></span><span class="desc">{{button.name}}</span></a>
		</li>
	</ul>
</div>
<div class="wallpaper" ng-class="{leave:'animate-leave'}" ng-if="!global.isLoggedIn()">
	<!--<div class="wallpaper-partition shadow"></div>-->
	<!--<div class="wallpaper-partition shadow"></div>-->
</div>
<form id="signForm" class="shadow fixed" ng-submit="submit()" ng-if="!global.isLoggedIn()" ng-class="{leave:'animate-leave'}" ng-init="signInit()">
	<h3 class="pull-right ng-animate-disabled" ng-if="signupForm"><a class="glyphicons glyphicons-remove-2 btn" ng-click="toggleSignup()"></a></h3>
	<input type="text" ng-model="user.id" class="form-input lg transparent" placeholder="아이디">
	<input type="password" ng-model="user.pw" class="form-input lg transparent" placeholder="비밀번호">
	<input type="password" ng-model="user.pwcf" class="form-input lg transparent ng-animate-disabled" ng-if="signupForm" placeholder="비밀번호 확인">
	<input type="text" ng-model="user.name" class="form-input lg transparent ng-animate-disabled" ng-if="signupForm" placeholder="이름">
	<button type="submit" class="btn btn-danger btn-block btn-lg ng-animate-disabled" ng-disabled="user.loading" ng-if="!signupForm">
		<span ng-if="!user.loading">
			<span ng-hide="user.error">로그인</span>
			<span ng-hide="!user.error">ID,PW 입력에 문제가 있습니다.</span>
		</span>
		<loading size="30" color="'#ffc3c7'" ng-if="user.loading"></loading>
	</button>
	<hr class="or ng-animate-disabled" ng-if="!signupForm">
	<button type="button" class="btn btn-block btn-lg btn-default ng-animate-disabled" ng-if="!signupForm" ng-click="toggleSignup()">가입</button>
	<button type="submit" class="btn btn-block btn-lg btn-warning ng-animate-disabled" ng-disabled="user.loading" ng-if="signupForm">가입</button>
</form>
<div id="content-area" app-view-segment="1" ng-if="global.isLoggedIn()" ng-animate="{enter:'animate-enter'}"></div>
<div id="searchResult" class="shadow" ng-if="!searchBar.hide">
	<header ng-class="{loading:searchBar.loading}"><u>{{searchBar.value}}</u> <span ng-if="searchBar.loading">검색중...</span><span ng-if="!searchBar.loading">검색결과</span>
		<a class="close" ng-click="searchBar.hide=true"></a>
	</header>
	<aside>
		<li ng-repeat="news in searchResult" ng-click="searchBar.toggleFold(news)" ng-class="{'fold':news.fold,'selected':news.selected}">
			<div class="index">
				<span>#{{news.id}}</span>
				<span>{{news.author_name}}</span>
				<span>{{news.created.date}}</span>
			</div>
			<span compile-html="news.trustText"></span>
		</li>
		<loading ng-if="searchBar.loading" size="140" color="'#4183d7'"></loading>
	</aside>
	<section class="search-detail">
	</section>
</div>
