<div class="sin-editor" ngf-drop ng-model="files" class="drop-box"
ngf-drag-over-class="dragover" ngf-multiple="true" ngf-allow-dir="true"
accept="image/*,application/pdf"
ngf-pattern="'image/*,application/pdf'">
<div id="fn-note" ng-class="editor.style" sin-note sin-hash="hash" sin-focused="isFocused" sin-blured="isBlured" contenteditable="true" ng-model="editor.value" ng-attr-autofocus="{{autofocus||undefined}}">{{editor.value}}</div>
<footer class="sin-editor-footer">
	<div class="hash-list"></div>
	<button class="btn" ng-click="pushEntry(editor.value);" ng-disabled="hash.constructed||hash.hashing">완료</button>
</footer>
<div sin-typeahead sin-hash="hash" class="typeahead block shadow" ng-class="{show:hash.constructed}"></div>
<ul>
	<li ng-repeat="f in files" style="font:smaller">{{f.name}} {{f.$error}} {{f.$errorParam}}</li>
</ul>
<pre>{{log}}</pre>
<img ngf-src="!files[0].$error && files[0]">
</div>
