<div id="main">
<!-- editor start -->
	<div class="card card-default shadow">
		<div class="tabbar">
			<div card-toolbar></div>
		</div>
		<sin-editor class="sin-editor" sin-entries="newses" sin-submit="addNews(text,model)" sin-autofocus="true" sin-mode="default"></sin-editor>
	</div>
	<!-- editor end -->
	<!-- news list start -->
	<news model="news" ng-repeat="news in newses" ng-if="!news.deleted" ng-animate="{leave:'animate-leave', enter:'animate-enter'}"></news>
	<loading ng-if="!fetchedAll" size="140"></loading>
	<footer></footer>
	<!--  Drop File:
    <div ngf-drop ngf-select ng-model="files" class="drop-box"
        ngf-drag-over-class="dragover" ngf-multiple="true" ngf-allow-dir="true"
        accept="image/*,application/pdf"
        ngf-pattern="'image/*,application/pdf'">Drop pdfs or images here or click to upload</div>
    Files:
    <ul>
        <li ng-repeat="f in files" style="font:smaller">{{f.name}} {{f.$error}} {{f.$errorParam}}</li>
    </ul>
    Upload Log:
    <pre>{{log}}</pre>
    <img ngf-src="!files[0].$error && files[0]"> -->


	<!-- <input ng-model="text.value" style="width: 400px;"> -->
	<!-- <input ng-model="hash.typed"> -->
	<!-- http://jsfiddle.net/MWe8U/ -->
	<!-- http://jsfiddle.net/lsiv568/fsfPe/10/ -->
</div>
