<div class="sin-editor drop-box"
	 ngf-drop
	 ng-model="fileToUpload"
	 ng-model-options="{debounce:0}"
	 ngf-drag-over-class="dragover"
	 ngf-multiple="false"
	 ngf-keep="'distinct'"
	 ngf-allow-dir="false"
	 ngf-pattern="'.png,.jpg,.jpeg,.gif,.bmp,.show,.cell,.xls,.xlsm,.xlsx,.csv,.ppt,.pptx,.doc,.docx,.hwp,.pdf,.txt'"
	 ngf-change="uploadTest($files, $file, $newFiles, $duplicateFiles, $invalidFiles, $event)">
	<div class="dragtest">
		<span class="glyphicons glyphicons-inbox-in"></span>
		<div>드롭하여 파일업로드</div>
	</div>
	<div class="sin-editor-wrapper">
		<div id="fn-note"
			 ng-class="editor.style"
			 sin-note
			 sin-hash="hash"
			 sin-focused="isFocused"
			 sin-blured="isBlured"
			 contenteditable="true"
			 ng-model="editor.value"
			 safe-auto-focus="{{autofocus||false}}">
			{{editor.value}}
		</div>
		<footer class="sin-editor-footer">
			<div uib-dropdown is-open="status.isopen" ng-if="groupEnabled()" ng-init="initGroupPolicies()">
				<button id="single-button" type="button" class="btn btn-transparent" uib-dropdown-toggle  ng-click="fetchGroupPolicies()">{{selectedPolicy.name}}<span class="caret"></span></button>
				<ul class="dropdown-menu" uib-dropdown-menu aria-labelledby="single-button">
					<li ng-repeat="policy in groupPolicies" ng-class="{active:policy.selected}"><a href="#" ng-click="selectPolicy(policy)">{{policy.name}}</a></li>
					<li class="divider"></li>
					<li><a href="#" ng-click="createGroupPolicy()"><span class="glyphicons glyphicons-circle-plus"></span>새 그룹 생성</a></li>
				</ul>
			</div>
			<button class="btn" ng-click="pushEntry(editor.value);" ng-disabled="hash.constructed||hash.hashing">완료</button>
		</footer>
	</div>
	<ul class="file-list" ng-class="{'empty' : !editor.file.data && fileToUpload.length==0}">
		<li ng-if="editor.file.data" class="" ng-class="{'removed':editor.file.removed}">
			{{editor.file.data}}
			<a ng-if="!editor.file.removed" class="remove glyphicons glyphicons-remove-2" ng-click="editor.file.removed = true"></a>
			<a ng-if="editor.file.removed" class="undo glyphicons glyphicons-undo" ng-click="editor.file.removed = false"></a>
		</li>
		<li ng-repeat="f in fileToUpload">{{f.progress}} {{f.name}} {{f.size|convertByte}} <a class="remove glyphicons glyphicons-remove-2" ng-click="removeFile()"></a></li>
	</ul>
	<div sin-typeahead sin-hash="hash" class="typeahead block shadow" ng-class="{show:hash.constructed}"></div>
	<pre>{{log}}</pre>
	<!--<img ng-repeat="file in files" ngf-src="!file.$error && file" draggable="false">-->
</div>
