<a class="close btn pull-right glyphicons glyphicons-remove-2" ng-click="$close()"></a>
<header>
    <h2>휴지통</h2>
    <h5>페이지를 이동하면 초기화됩니다</h5>
</header>
<ul class="aside-body">
    <li ng-repeat="trash in deleteList track by $index" ng-if="!trash.deleted">
    	<b>{{trash.author}}</b>
    	<a class="glyphicons glyphicons-undo pull-right btn" ng-click="rollback(trash)">복원</a>
    	<div ng-bind-html="trash.trustText"></div>
    </li>
</ul>
<footer>
    <small>전체 항목에 대해</small>
    <button class="btn btn-primary" ng-click="deleteAll()">삭제</button>
    <button class="btn btn-default" ng-click="rollbackAll()">복원</button>
</footer>