<article class="card card-default" ng-class="{'card-in-action shadow':news.edit, 'issue':getType()==1}" ng-init="initOptionEnable()">
    <!-- news view start -->
    <div class="content-wrapper" ng-if="!news.edit">
        <div class="title">
            <span>{{news.issue ? news.issueTitle+' ~ ' : ''}}{{news.id}}</span>
            <span class="news-info">
                <span class="news-author">
                    <img src="" alt="" class="thumbnail">
                    <a sin-popover="optionsFromUser(news.author_name)">{{news.author_name}}</a>
                </span>
                <span class="news-timestamp">{{news.created.date}}</span>
                <span class="news-timestamp">{{news.created.time}}</span>
            </span>
            <a class="options pull-right ng-animate-disabled" ng-if="news.optionEnabled" sin-popover="news.showPopover()">
                <span class="glyphicons glyphicons-more"></span>
            </a>
        </div>
        <div class="issue-status" ng-if="getType()==1">
            <span class="issue-status-icon">
                <span class="glyphicons glyphicons-circle-exclamation-mark"></span>
                <span>opened</span>
            </span>
            원문 보기
        </div>
        <div class="body ng-animate-disabled">
            <div class="file-list" ng-if="news.file">
                <a ng-click="news.getFile()">
                    <span class="glyphicons glyphicons-download-alt"></span>
                    {{news.file}}
                </a>
            </div>
            <div compile-html="news.trustText" compile-hash="true"></div>
        </div>
        <div class="issue-footer" ng-if="getType()==1">
            <div><span>병장 차현탁 외 3명 할당됨</span></div>
            <div ng-click="viewInDetail()"><span>이슈페이지에서 보기</span><span class="glyphicons glyphicons-chevron-right"></span></div>
        </div>
        <div class="comments" ng-animate="{leave:'animate-leave', enter : 'animate-enter'}" ng-init="fetchComment()" ng-if="getType()==0">
            <loading ng-if="news.fetchingComment" size="40"></loading>
            <ul ng-if="!news.fetchingComment">
                <li class="comment ng-animate-disabled" ng-repeat="comment in news.comments" ng-if="!comment.deleted">
                    <section class="area-comment">
                        <figure class="usertag">
                            {{comment.author_name}}
                            <a class="options glyphicons glyphicons-remove-2 btn ng-animate-disabled pull-right" ng-if="!comment.edit" ng-click="deleteComment(comment)"></a>
                        </figure>
                        <div class="file-list" ng-if="comment.file && !comment.edit">
                            <a ng-click="comment.getFile()">
                                <span class="glyphicons glyphicons-download-alt"></span>
                                {{comment.file}}
                            </a>
                        </div>
                        <article ng-if="!comment.edit">
                            <span compile-html="comment.trustText" compile-hash="true"></span>
                            <a class="options glyphicons glyphicons-pencil btn ng-animate-disabled" ng-click="editCommentStart(comment)"></a>
                            <a class="options glyphicons glyphicons-comments btn flip-x ng-animate-disabled" ng-click="replyToCommentStart(comment)" ng-if="!hasReply(comment) && !comment.replyDisplay"></a>
                        </article>
                        <sin-editor sin-class="edit" class="ng-animate-disabled primary" value="comment" sin-autofocus="true" sin-submit="editCommentEnd(id, text, files, model)" sin-entries="news.comments" ng-if="comment.edit" sin-mode="inline-edit"></sin-editor>
                    </section>
                    <section class="area-reply">
                        <a class="default" ng-if="hasReply(comment) && !comment.replyDisplay" ng-click="showReplies(comment)">
                            <span class="glyphicons glyphicons-comments flip-x"></span> {{comment.count_reply}}개의 답글이 있습니다.
                        </a>
                        <ul class="replies" ng-if="comment.replyDisplay">
                            <li class="reply" ng-repeat="reply in comment.replies" ng-if="!reply.deleted" ng-class="{'recent':reply.recent}">
                                <figure class="usertag">
                                    {{reply.author_name}}
                                    <a class="options glyphicons glyphicons-remove-2 btn ng-animate-disabled pull-right" ng-if="!comment.edit" ng-click="deleteReply(reply)"></a>
                                </figure>
                                <div class="file-list" ng-if="reply.file && !reply.edit">
                                    <a ng-click="reply.getFile()">
                                        <span class="glyphicons glyphicons-download-alt"></span>
                                        {{reply.file}}
                                    </a>
                                </div>
                                <article ng-if="!reply.edit">
                                    <span compile-html="reply.trustText" compile-hash="true"></span>
                                    <a class="options glyphicons glyphicons-pencil btn ng-animate-disabled" ng-click="editReplyStart(reply)"></a>
                                </article>
                                <sin-editor sin-class="edit" class="ng-animate-disabled primary" value="reply" sin-autofocus="true" sin-submit="editReplyEnd(id, text, files, model)" sin-entries="comment.replies" ng-if="reply.edit" sin-mode="inline-edit"></sin-editor>
                            </li>
                        </ul>
                        <sin-editor class="comment-input" class="ng-animate-disabled primary" sin-autofocus="true" sin-entries="comment.replies" sin-submit="addReplyToComment(text,model,files)" ng-if="comment.replyDisplay" sin-mode="inline"></sin-editor>
                    </section>
                </li>
            </ul>
            <sin-editor class="comment-input primary" sin-entries="news.comments" sin-autofocus="false" sin-submit="addComment(text,model,files)" sin-mode="inline"></sin-editor>
        </div>
    </div>
    <!-- news view end -->
    <!-- news edit start -->
    <div class="content-wrapper" ng-if="news.edit">
        <sin-editor class="body ng-animate-disabled" ng-class="{'warning':getType()==0, 'danger':getType()==1}" sin-class="" sin-group="{{getType()==0}}" value="news" sin-submit="editNewsEnd(id, text, files, group)" sin-autofocus="true" sin-mode="default-edit"></sin-editor>
    </div>
    <!-- news edit end -->
</article>
