.modal-backdrop.aside {
  background: none; }

.modal.aside .modal-dialog {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin-left: 0;
  padding: 0;
  transform: translate(0%);
  text-align: center;
  background: transparent; }
  .modal.aside .modal-dialog .modal-content {
    height: 100%;
    display: flex;
    flex-direction: column; }
.modal.aside.fade {
  opacity: 1;
  transform: translateX(-300px);
  transition: transform .2s ease-in-out; }
  .modal.aside.fade.in {
    transform: translateX(0px); }

.aside {
  position: fixed;
  width: 300px;
  height: calc(100% - 40px);
  left: 0;
  top: 40px;
  background: #ffffff; }
  .aside header {
    padding: 10px 10px;
    font-weight: 800;
    margin-bottom: 20px; }
  .aside .aside-body {
    display: flex;
    flex-grow: 100;
    flex-direction: column; }
    .aside .aside-body li {
      min-height: 40px;
      border-bottom: 1px solid #f1f1f5;
      padding: 5px 15px; }
      .aside .aside-body li:last-of-type {
        border-bottom: none; }
      .aside .aside-body li:hover {
        background: #f1f1f7; }
  .aside footer {
    padding: 10px 10px 20px;
    border-top: 1px solid #f1f1f5; }
  .aside.info {
    color: #fff;
    background: linear-gradient(to bottom, #5f83e7 0%, #456fe3 80%); }
    .aside.info header {
      background: #456fe3;
      box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
      -webkit-box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3); }
      .aside.info header .title {
        overflow: hidden;
        text-overflow: break-word; }
    .aside.info .aside-body form {
      padding: 0 5px; }
    .aside.info .aside-body input.transparent {
      color: #fff; }
    .aside.info .aside-body li {
      border-bottom-color: #456fe3 !important; }
      .aside.info .aside-body li:hover {
        background: #456fe3 !important;
        border-bottom-color: #456fe3 !important;
        transition: all .2s; }
      .aside.info .aside-body li.selected {
        background: #3b63d2 !important;
        border-bottom-color: #3b63d2 !important;
        box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
        -webkit-box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2); }
    .aside.info footer {
      border-top: none; }
    .aside.info ::-webkit-input-placeholder {
      color: #e1e1e1; }
  .aside.ng-enter {
    opacity: 1;
    transform: translateX(-300px);
    transition: transform .2s ease-in-out; }
    .aside.ng-enter.ng-enter-active {
      transform: translateX(0px); }

.slider-wrapper {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  display: flex;
  flex-grow: 100;
  flex-direction: column; }
  .slider-wrapper .horizontal-slider {
    position: relative;
    width: 200%;
    height: 100%;
    transition: all .4s;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    overflow: hidden; }
    .slider-wrapper .horizontal-slider:before, .slider-wrapper .horizontal-slider:after {
      display: block;
      content: '';
      clear: both; }
    .slider-wrapper .horizontal-slider section {
      position: absolute;
      width: 50%;
      height: 100%;
      display: flex;
      flex-grow: 1;
      flex-direction: column;
      justify-content: center; }
      .slider-wrapper .horizontal-slider section .fixed {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 40px;
        left: 0; }
      .slider-wrapper .horizontal-slider section ul {
        width: 100%;
        flex-grow: 1;
        overflow: auto; }
        .slider-wrapper .horizontal-slider section ul > li {
          cursor: pointer;
          display: flex !important;
          justify-content: space-between;
          align-items: center; }
          .slider-wrapper .horizontal-slider section ul > li.selected {
            background-color: #699ae4;
            border-bottom-color: #5284d0 !important;
            color: #f1f1f5; }
          .slider-wrapper .horizontal-slider section ul > li.unselectable {
            justify-content: center;
            cursor: auto; }
      .slider-wrapper .horizontal-slider section.prev.ng-leave {
        transition: all .5s;
        opacity: 1;
        transform: translateX(0px); }
        .slider-wrapper .horizontal-slider section.prev.ng-leave.prev.ng-leave-active {
          opacity: 0;
          transform: translateX(-100px); }
      .slider-wrapper .horizontal-slider section.prev.ng-enter {
        transition: all .5s;
        opacity: 0;
        transform: translateX(-100px); }
        .slider-wrapper .horizontal-slider section.prev.ng-enter.prev.ng-enter-active {
          opacity: 1;
          transform: translateX(0px); }
      .slider-wrapper .horizontal-slider section.next.ng-leave {
        transition: all .5s;
        opacity: 1;
        transform: translateX(0px); }
        .slider-wrapper .horizontal-slider section.next.ng-leave.next.ng-leave-active {
          opacity: 0;
          transform: translateX(100px); }
      .slider-wrapper .horizontal-slider section.next.ng-enter {
        transition: all .5s;
        opacity: 0;
        transform: translateX(100px); }
        .slider-wrapper .horizontal-slider section.next.ng-enter.next.ng-enter-active {
          opacity: 1;
          transform: translateX(0px); }

/*# sourceMappingURL=aside.css.map */
