@import "variable.scss";

input{
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;

  border-radius: 0;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;

  border: none;
  line-height: 1;
  &:focus{
    border: none;
    outline: none;
  }

  &.form-input{
    padding: 5px 8px;
    font-size: 14px;
    width: 100%;
    border-bottom: 1px solid #e1e1e7;
    margin-bottom: 10px;
    transition: border .2s;
    &:focus{
      border-bottom: 1px solid #4d92e7;
      font-size: 16px;
    }
    &.lg{
      height: 40px;
    }
    &.transparent{
      background: transparent;
    }
  }
}

button,input[type="submit"],input[type="button"]{
  cursor: pointer;
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;

  border-radius: 0;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;

  border: none;
  &.btn{
    border-radius: 2px;
    padding: 8px 5px;
    height: 28px;
    font-size: 12px;
    line-height: 0.8;
    &.btn-lg{
      height: 36px;
    }
    &.btn-sm{
        height:26px;
        line-height:0.8;
        font-size:12px;
    }
    &.btn-block{
      display: block;
      width: 100%;
    }
    &.btn-transparent{
      background: transparent !important;
      border: transparent !important;
    }
    &.btn-default{
      background: #ffffff;
      border: 1px solid #e1e1e7;
      transition: background .2s;
      color: #232323;
      &:hover{
        background: #f1f1f5;
        border-bottom: 1px solid #d4d4da;
      }
      &.btn-transparent{
        color : #232323;
      }
    }
    &.btn-primary{
      background: #2ABB9B;
      border: 1px solid #2aae8e;
      transition: background .2s;
      color: #fff;
      &:hover{
        background: #2aa888;
        border-bottom: 1px solid #299c7d;
      }
      &:disabled{
        background-color: #30ddba !important;
        border-color:#30ddba !important;
      }
      &.btn-transparent{
        color : #2ABB9B;
      }
    }
    &.btn-warning{
      background: #F9BF3B;
      border: 1px solid #eeb43b;
      transition: background .2s;
      color: #fff;
      &:hover{
        background: #eeb43b;
        border-bottom: 1px solid #e1a839;
      }
      &:disabled{
        background-color: #ffc53b !important;
        border-color:#ffc53b !important;
      }
       &.btn-transparent{
        color : #f9bf3b;
      }
    }
    &.btn-info{
      background: #699AE4;
      border: 1px solid #568FE4;
      transition: background .2s;
      color: #fff;
      &:hover{
        background: #568FE4;
        border-bottom: 1px solid #4878BF;
      }
      &:disabled{
        background-color: #A1C6FF !important;
        border-color:#BCD4F9 !important;
      }
       &.btn-transparent{
        color : #568FE4;
      }
    }
    .glyphicons{
      margin-left: .3em;
      margin-top: -.2em;
      margin-right: .3em;
    }
  }
}



//== Popovers
//
//##

//** Popover body background color
$popover-bg:                          #fff !default;
//** Popover maximum width
$popover-max-width:                   276px !default;
//** Popover minimum width
$popover-min-width:                   100px !default;
//** Popover border color
$popover-border-color:                #e1e1e7 !default;
//** Popover fallback border color
$popover-fallback-border-color:       #ccc !default;

//** Popover title background color
$popover-title-bg:                    darken($popover-bg, 3%) !default;

//** Popover arrow width
$popover-arrow-width:                 10px !default;
//** Popover arrow color
$popover-arrow-color:                 $popover-bg !default;

//** Popover outer arrow width
$popover-arrow-outer-width:           ($popover-arrow-width + 1) !default;
//** Popover outer arrow color
$popover-arrow-outer-color:           fade_in($popover-border-color, 0.05) !default;
//** Popover outer arrow fallback color
$popover-arrow-outer-fallback-color:  darken($popover-fallback-border-color, 20%) !default;

.popover-container{
  position: relative;
  display: block;
  clear: both;

  &.top {
    top: 0px;
    .popover{
      align-items: flex-end;
      left: 50%;
      .arrow {
        left: 50%;
        margin-left: -$popover-arrow-outer-width;
        border-bottom-width: 0;
        border-top-color: $popover-arrow-outer-fallback-color; // IE8 fallback
        border-top-color: $popover-arrow-outer-color;
        bottom: -$popover-arrow-outer-width+1;
        &:after {
          content: " ";
          bottom: 2px;
          margin-left: -$popover-arrow-width;
          border-bottom-width: 0;
          border-top-color: $popover-arrow-color;
        }
      }
      .popover-tmpl{
        position: relative;
        transform: translate(-50%, 0%);
      }
    }
  }
  &.right {
    top: 50%;
    left: 10px;
    .popover{
      align-items: flex-start;
      left: 100%;
      .arrow {
        top: 50%;
        left: -$popover-arrow-outer-width;
        margin-top: -$popover-arrow-outer-width;
        border-left-width: 0;
        border-right-color: $popover-arrow-outer-fallback-color; // IE8 fallback
        border-right-color: $popover-arrow-outer-color;
        &:after {
          content: " ";
          left: 1px;
          bottom: -$popover-arrow-width;
          border-left-width: 0;
          border-right-color: $popover-arrow-color;
        }
      }
      .popover-tmpl{
        position: relative;
        transform: translate(0%, -50%);
      }
    }
  }
  &.bottom {
    top: 10px;
    .popover{
      align-items: flex-start;
      left: 50%;
      .arrow {
        left: 50%;
        margin-left: -$popover-arrow-outer-width;
        border-top-width: 0;
        border-bottom-color: $popover-arrow-outer-fallback-color; // IE8 fallback
        border-bottom-color: $popover-arrow-outer-color;
        top: -$popover-arrow-outer-width;
        margin-top: 1px;
        &:after {
          content: " ";
          top: 1px;
          margin-left: -$popover-arrow-width;
          border-top-width: 0;
          border-bottom-color: $popover-arrow-color;
        }
      }
      .popover-tmpl{
        position: relative;
        transform: translate(-50%, 0%);
      }
    }
  }
  &.left {
    top: 50%;
    right: 10px;
    .popover{
      align-items: flex-start;
      left: 0%;
      .arrow {
        top: 50%;
        right: -$popover-arrow-outer-width;
        margin-top: -$popover-arrow-outer-width;
        border-right-width: 0;
        border-left-color: $popover-arrow-outer-fallback-color; // IE8 fallback
        border-left-color: $popover-arrow-outer-color;
        &:after {
          content: " ";
          right: 1px;
          border-right-width: 0;
          border-left-color: $popover-arrow-color;
          bottom: -$popover-arrow-width;
        }
      }
      .popover-tmpl{
        position: relative;
        transform: translate(-100%, -50%);
      }
    }
  }
  &.bottom-left{
    top: 10px;
    .popover{
      align-items: flex-start;
      left: 100%;
      .arrow {
        right: 1px;
        margin-left: -$popover-arrow-outer-width;
        border-top-width: 0;
        border-bottom-color: $popover-arrow-outer-fallback-color; // IE8 fallback
        border-bottom-color: $popover-arrow-outer-color;
        top: -$popover-arrow-outer-width;
        margin-top: 1px;
        &:after {
          content: " ";
          top: 1px;
          margin-left: -$popover-arrow-width;
          border-top-width: 0;
          border-bottom-color: $popover-arrow-color;
        }
      }
      .popover-tmpl{
        position: relative;
        transform: translate(-100%, 0%);
      }
    }
  }
  &.bottom-right{
    top: 10px;
    .popover{
      align-items: flex-start;
      left: 0%;
      .arrow {
        left: 1px;
        border-top-width: 0;
        border-bottom-color: $popover-arrow-outer-fallback-color; // IE8 fallback
        border-bottom-color: $popover-arrow-outer-color;
        top: -$popover-arrow-outer-width;
        margin-top: 1px;
        &:after {
          content: " ";
          top: 1px;
          margin-left: -$popover-arrow-width;
          border-top-width: 0;
          border-bottom-color: $popover-arrow-color;
        }
      }
      .popover-tmpl{
        position: relative;
        transform: translate(0%, 0%);
      }
    }
  }
  &.top-left {
    top: 0px;
    .popover{
      align-items: flex-end;
      left: 100%;
      .arrow {
        right: 1px;
        margin-left: -$popover-arrow-outer-width;
        border-bottom-width: 0;
        border-top-color: $popover-arrow-outer-fallback-color; // IE8 fallback
        border-top-color: $popover-arrow-outer-color;
        bottom: -$popover-arrow-outer-width+1;
        &:after {
          content: " ";
          bottom: 2px;
          margin-left: -$popover-arrow-width;
          border-bottom-width: 0;
          border-top-color: $popover-arrow-color;
        }
      }
      .popover-tmpl{
        position: relative;
        transform: translate(-100%, 0%);
      }
    }
  }
  &.top-right {
    top: 0px;
    .popover{
      align-items: flex-end;
      left: 0%;
      .arrow {
        left: 1px;
        border-bottom-width: 0;
        border-top-color: $popover-arrow-outer-fallback-color; // IE8 fallback
        border-top-color: $popover-arrow-outer-color;
        bottom: -$popover-arrow-outer-width+1;
        &:after {
          content: " ";
          bottom: 2px;
          margin-left: -$popover-arrow-width;
          border-bottom-width: 0;
          border-top-color: $popover-arrow-color;
        }
      }
      .popover-tmpl{
        position: relative;
        transform: translate(0%, 0%);
      }
    }
  }
}

.popover {
  position: relative;
  width: 0;
  height: 0;
  display: flex;
  z-index : 999;
  .popover-tmpl{
    background: #fff;
    border: 1px solid #e1e1e7;
    border-bottom: 2px solid #e1e1e7;
    border-radius: 0;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    color: #222;
    font-size: $font-default;
  }
  > .arrow {
    border-width: $popover-arrow-outer-width;
    z-index: 1;
    &,
    &:after {
      position: absolute;
      display: block;
      width: 0;
      height: 0;
      border-color: transparent;
      border-style: solid;
    }
    &:after {
      border-width: $popover-arrow-width;
      content: "";
    }
  }
}


/**
 * card style
 */
.card {
  position: relative;
  border-radius: 2px;
  margin-bottom: 20px;
  -webkit-user-select: none;
  border-left: 0px solid transparent;
  transition: all .2s;
  &.card-default {
    background: #ffffff;
    border: 1px solid #e0e0eb;
    border-bottom: 2px solid #e1e1e7;
    .title {
      padding: 5px 3px;
      margin: 0 10px;
      border-bottom: 1px solid #f1f1f5;
      color: #e1e1e7;
      a.options {
        cursor: pointer;
        color: #e1e1e7;
        transition: all .2s;
        &:hover, &.active {
          color: #c1c1c7;
        }
      }
    }
    .body {
      -webkit-user-select: initial;
      padding: 16px 20px 26px;
      &::selection,
      *::selection {
        background: #fff2a8;
      }
      [contenteditable="true"] {
        background: #fff2a8;
        &:focus {
          background: none;
        }
        &::selection {
          background: #fff2a8;
        }
      }
    }
    .comments {
      -webkit-user-select: initial;
      -moz-user-select: initial;
      -ms-user-select: initial;
      user-select: initial;
      &::selection,
      *::selection {
        background: #fff2a8;
      }
      padding: 8px 10px 8px 20px;
      border-top: 2px solid #f1f1f5;
      background: #f6f6f9;
      //			backface-visibility: hidden !important;
      .comment-input,
      .comment .comment-input {
        position: relative;
        #fn-note {
          position: relative;
          min-height: 30px;
          padding: 4px 8.2px;
          background: #ffffff;
          border: 1px solid #e6e6eb;
        }
      }
      [contenteditable="true"] {
        &:focus {
          outline: none;
          border: none;
        }
      }
      .comment {
        font-size: 12px;
        margin-bottom: 12px;
          .usertag{
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
            font-weight: 800;
          }
          .area-comment{
            .options{
              visibility: hidden;
              transition: none;
              color: #ccc;
            }
            &:hover {
                .options{
                  visibility: visible;
                }
            }
          }
        #fn-note {
          position: relative;
          &.edit {
            background: #dedee1;
          }
        }
        .area-reply{
          padding-left: 30px;
          .replies{
            li{
              padding : 2px 10px;
              border-left: 2px solid #e1e1e7;
              &.recent{
                border-left: 2px solid #2ABB9B;
              }
              .options{
                visibility: hidden;
                transition: none;
                color: #ccc;
              }
              &:hover {
                .options{
                  visibility: visible;
                }
              }
            }
          }
          .comment-input{
            border-left : 2px solid #e1e1e7;
            #fn-note{
              min-height : 22px;
              padding : 2px 8.2px;
              font-size: 12px;
              margin-left: 10px;
              margin-top: 2px;
              width: calc(100% - 100px);
            }
          }
        }
      }
    }
  }
  &.card-in-action {
    border-left: 4px solid #F9BF3B;
  }
  .tabbar {
    padding: 0 2px;
  }
  &.card-primary {
    .tabbar {
      background: #4B77BE;
      border-bottom: none;
      .toolbar {
        border-bottom: none;
      }
    }
    background: #ffffff;
    .footer {
      text-align: center;
      a.btn {
        color: #4B77BE;
      }
    }
  }
}
news{
  display: block;
  &.ng-leave {
    transition: all .5s;
    opacity: 1;
    &.ng-leave-active {
      opacity: 0;
      transform: translate(200px);
    }
  }
  &.ng-enter {
    transition: all .5s;
    opacity: 0;
    transform: translateY(-100px);
    &.ng-enter-active {
      opacity: 1;
      transform: translateY(0);
    }
  }
}
/* news card style in modal context */
.modal-dialog{
    $height:340px;
    news{
        .card{
            &.card-default{
                display: flex;
                flex-direction: row;
                width: 720px;
                max-height: $height;
                min-height: 200px;
                .title{
                    display: flex;
                    flex-direction: column;
                    width: 80px;
                    flex-shrink: 0;
                    margin-right: 0;
                    text-align: right;
                }
                .news-info{
                    position: relative;
                    width: auto;
                    left:0;
                    margin-top:10px;
                }
                .body{
                    max-height: $height;
                    overflow: auto;
                    flex-grow: 1;
                }
                .comments{
                    width: 180px;
                    flex-shrink: 0;
                    padding: 8px 10px;
                    display: flex;
                    flex-direction: column;
                    >ul{
                        width: 100%;
                        overflow: auto;
                        flex-grow: 1;
                    }
                    .comment{
                        .area-reply{
                            padding-left: 10px;
                        }
                    }
                    .comment-input{
                        width: 100%;
                        max-height: 40px;
                        flex-shrink: 0;
                        align-self: flex-end;
                        display: flex;
                        .sin-editor-inline{
                            flex-grow: 1;
                            overflow: hidden;

                        }
                    }
                }
            }
        }
    }
}

.typeahead {
  left: 0;
  height: 0;
  overflow: hidden;
  padding: 1px 2px;
  position: absolute;
  opacity: 0;
  transition: all .2s;
  margin-top: 10px;
  z-index: 999;
  &.block {
    width: 100%;
  }
  &.show {
    opacity: 1;
    margin-top: 0;
    height: auto;
    transition: all .2s;
  }
  ul.typeahead-list {
    position: relative;
    background: white;
    display: block;
    border: 1px solid #e1e1e7;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    cursor: default;
    z-index: 1000;
    li {
      cursor: pointer;
      display: block;
      padding: 0 12px;
      height: 35px;
      line-height: 35px;
      span {
        padding: 6px 0;
      }
      &.active {
        background: #F9BF3B;
        color: white;
        font-weight: bold;
      }
    }
  }
}

.toolbar {
  display: block;
  cursor: default;
  margin: 0;
  border-bottom: 1px solid #f1f1f5;
  &:before, &:after {
    clear: both;
    display: block;
    content: '';
  }
  li {
    display: block;
    cursor: pointer;
    float: left;
    padding: 0;
    width: 38px;
    height: 38px;
    line-height: 35px;
    button {
      touch-action: manipulation;
      cursor: pointer;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
      border: none;
      background-image: none;
      white-space: nowrap;
      vertical-align: middle;
      width: 100%;
      height: 100%;
      text-align: center;
      background: transparent;
      color: #ccc;
      transition: all .2s;
      &:hover {
        color: #555;
      }
    }
    &:hover {
      box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
      -webkit-box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);

    }
  }
}

.modal-backdrop {
  position: fixed;
  //width: 100%;
  //height:100%;
  left: 0;
  top: 0;
  background: rgba(150, 150, 150, 0.5);
  &.aside {
    background: none;
  }
}
.modal {
  @import "base.scss";
  position: fixed;
  width: 100%;
  height: 100%;
  .modal-dialog {
    @extend .shadow;
    $width: 280px;
    position: fixed;
    top: 30%;
    left: 50%;
    min-width: $width;
    transform: translate(-50%);
    background: white;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    border-bottom: 2px solid #e1e1e7;
    .modal-title {
      height: 100px;
    }
    .modal-body {
      padding: 5px 0;
      border-top: 1px solid #f1f1f5;
    }
  }
  &.fade {
    opacity: 0;
    -webkit-transition: opacity .15s ease-out;
    -o-transition: opacity .15s ease-out;
    transition: opacity .15s ease-out;
    &.in {
      opacity: 1;
    }
  }
  &.danger {
    .modal-dialog {
      background: #E2747D;
      border-bottom-color: #c06062;
      color: white;
      .modal-body {
        border-top-color: #f98486;
      }
    }
  }
  &.aside {
    position: fixed;
    width: 300px;
    height: calc(100% - 50px);
    left: 0;
    top: 50px;
    .modal-dialog {
      background: #ffffff;
      position: relative;
      top:0;
      left:0;
      width: 100%;
      height: 100%;
      margin-left:0;
      padding: 15px 20px;
      transform: translate(0%);
      text-align: center;
      .modal-content {
        height: 100%;
        header {
          height: 50px;
          border-bottom: 1px solid #f1f1f5;
          font-weight: 800;
        }
        .aside-body {
          height: calc(100% - 110px);
          padding: 5px 15px;
          text-overflow: ellipsis;
          word-wrap: break-word;
          li {
            display: block;
            min-height: 40px;
            border-bottom: 1px solid #f1f1f5;
            padding: 5px 10px;
          }
        }
        footer {
          height: 60px;
          padding: 10px;
          border-top: 1px solid #e1e1e7;
        }
      }
    }
    &.fade {
      opacity: 1;
      transform: translateX(-300px);
      transition: transform .2s ease-in-out;
      &.in {
        transform: translateX(0px);
      }
    }
  }
}

.aside {
  position: fixed;
  width: 300px;
  height: calc(100% - 50px);
  left: 0;
  top: 50px;
  background: #ffffff;
  header{
    height: 50px;
    border-bottom: 1px solid #f1f1f5;
    font-weight: 800;
  }
  .aside-body {
    height: calc(100% - 110px);
    padding: 5px 15px;
      li {
        display: block;
        min-height: 40px;
        border-bottom: 1px solid #f1f1f5;
        padding: 5px 10px;
      }
  }
  footer {
    height: 60px;
    padding: 10px;
    border-top: 1px solid #e1e1e7;
  }

  &.ng-enter {
    opacity: 1;
    transform: translateX(-300px);
    transition: transform .2s ease-in-out;
    &.ng-enter-active {
      transform: translateX(0px);
    }
  }
}
#loading-target{
  display: block;
  margin: 0 auto;
}
