input {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  border-radius: 0;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border: none;
  line-height: 1; }
  input:focus {
    border: none;
    outline: none; }
  input.form-input {
    padding: 5px 8px;
    font-size: 14px;
    width: 100%;
    border-bottom: 1px solid #e1e1e7;
    margin-bottom: 10px;
    transition: border .2s; }
    input.form-input:focus {
      border-bottom: 1px solid #4d92e7;
      font-size: 16px;
      margin-bottom: 7px; }
    input.form-input.lg {
      height: 40px; }
    input.form-input.transparent {
      background: transparent; }
    input.form-input.primary:focus {
      border-bottom: 1px solid #2ABB9B;
      font-size: 16px; }

button, input[type="submit"], input[type="button"] {
  cursor: pointer;
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  border-radius: 0;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border: none; }
  button.btn, input[type="submit"].btn, input[type="button"].btn {
    border-radius: 2px;
    padding: 8px 5px;
    height: 28px;
    font-size: 12px;
    line-height: 0.8; }
    button.btn.btn-lg, input[type="submit"].btn.btn-lg, input[type="button"].btn.btn-lg {
      height: 36px; }
    button.btn.btn-sm, input[type="submit"].btn.btn-sm, input[type="button"].btn.btn-sm {
      height: 26px;
      line-height: 0.8;
      font-size: 12px; }
    button.btn.btn-block, input[type="submit"].btn.btn-block, input[type="button"].btn.btn-block {
      display: block;
      width: 100%; }
    button.btn.btn-transparent, input[type="submit"].btn.btn-transparent, input[type="button"].btn.btn-transparent {
      background: transparent !important;
      border: transparent !important; }
    button.btn.btn-default, input[type="submit"].btn.btn-default, input[type="button"].btn.btn-default {
      background: #ffffff;
      border: 1px solid #e1e1e7;
      transition: background .2s;
      color: #232323; }
      button.btn.btn-default:hover, input[type="submit"].btn.btn-default:hover, input[type="button"].btn.btn-default:hover {
        background: #f1f1f5;
        border-bottom: 1px solid #d4d4da; }
      button.btn.btn-default.btn-transparent, input[type="submit"].btn.btn-default.btn-transparent, input[type="button"].btn.btn-default.btn-transparent {
        color: #232323; }
    button.btn.btn-primary, input[type="submit"].btn.btn-primary, input[type="button"].btn.btn-primary {
      background: #2ABB9B;
      border: 1px solid #2aae8e;
      transition: background .2s;
      color: #fff; }
      button.btn.btn-primary:hover, input[type="submit"].btn.btn-primary:hover, input[type="button"].btn.btn-primary:hover {
        background: #2aa888;
        border-bottom: 1px solid #299c7d; }
      button.btn.btn-primary:disabled, input[type="submit"].btn.btn-primary:disabled, input[type="button"].btn.btn-primary:disabled {
        background-color: #30ddba !important;
        border-color: #30ddba !important; }
      button.btn.btn-primary.btn-transparent, input[type="submit"].btn.btn-primary.btn-transparent, input[type="button"].btn.btn-primary.btn-transparent {
        color: #2ABB9B; }
    button.btn.btn-warning, input[type="submit"].btn.btn-warning, input[type="button"].btn.btn-warning {
      background: #F9BF3B;
      border: 1px solid #eeb43b;
      transition: background .2s;
      color: #fff; }
      button.btn.btn-warning:hover, input[type="submit"].btn.btn-warning:hover, input[type="button"].btn.btn-warning:hover {
        background: #eeb43b;
        border-bottom: 1px solid #e1a839; }
      button.btn.btn-warning:disabled, input[type="submit"].btn.btn-warning:disabled, input[type="button"].btn.btn-warning:disabled {
        background-color: #ffc53b !important;
        border-color: #ffc53b !important; }
      button.btn.btn-warning.btn-transparent, input[type="submit"].btn.btn-warning.btn-transparent, input[type="button"].btn.btn-warning.btn-transparent {
        color: #f9bf3b; }
    button.btn.btn-info, input[type="submit"].btn.btn-info, input[type="button"].btn.btn-info {
      background: #699AE4;
      border: 1px solid #568FE4;
      transition: background .2s;
      color: #fff; }
      button.btn.btn-info:hover, input[type="submit"].btn.btn-info:hover, input[type="button"].btn.btn-info:hover {
        background: #568FE4;
        border-bottom: 1px solid #4878BF; }
      button.btn.btn-info:disabled, input[type="submit"].btn.btn-info:disabled, input[type="button"].btn.btn-info:disabled {
        background-color: #A1C6FF !important;
        border-color: #BCD4F9 !important; }
      button.btn.btn-info.btn-transparent, input[type="submit"].btn.btn-info.btn-transparent, input[type="button"].btn.btn-info.btn-transparent {
        color: #568FE4; }
    button.btn .glyphicons, input[type="submit"].btn .glyphicons, input[type="button"].btn .glyphicons {
      margin-left: .3em;
      margin-top: -.2em;
      margin-right: .3em; }

.popover-container {
  position: relative;
  display: block;
  clear: both; }
  .popover-container.top {
    top: 0px; }
    .popover-container.top .popover {
      align-items: flex-end;
      left: 50%; }
      .popover-container.top .popover .arrow {
        left: 50%;
        margin-left: -11px;
        border-bottom-width: 0;
        border-top-color: #999999;
        border-top-color: rgba(0, 0, 0, 0.25);
        bottom: -10px; }
        .popover-container.top .popover .arrow:after {
          content: " ";
          bottom: 2px;
          margin-left: -10px;
          border-bottom-width: 0;
          border-top-color: #fff; }
      .popover-container.top .popover .popover-tmpl {
        position: relative;
        transform: translate(-50%, 0%); }
  .popover-container.right {
    top: 50%;
    left: 10px; }
    .popover-container.right .popover {
      align-items: flex-start;
      left: 100%; }
      .popover-container.right .popover .arrow {
        top: 50%;
        left: -11px;
        margin-top: -11px;
        border-left-width: 0;
        border-right-color: #999999;
        border-right-color: rgba(0, 0, 0, 0.25); }
        .popover-container.right .popover .arrow:after {
          content: " ";
          left: 1px;
          bottom: -10px;
          border-left-width: 0;
          border-right-color: #fff; }
      .popover-container.right .popover .popover-tmpl {
        position: relative;
        transform: translate(0%, -50%); }
  .popover-container.bottom {
    top: 10px; }
    .popover-container.bottom .popover {
      align-items: flex-start;
      left: 50%; }
      .popover-container.bottom .popover .arrow {
        left: 50%;
        margin-left: -11px;
        border-top-width: 0;
        border-bottom-color: #999999;
        border-bottom-color: rgba(0, 0, 0, 0.25);
        top: -11px;
        margin-top: 1px; }
        .popover-container.bottom .popover .arrow:after {
          content: " ";
          top: 1px;
          margin-left: -10px;
          border-top-width: 0;
          border-bottom-color: #fff; }
      .popover-container.bottom .popover .popover-tmpl {
        position: relative;
        transform: translate(-50%, 0%); }
  .popover-container.left {
    top: 50%;
    right: 10px; }
    .popover-container.left .popover {
      align-items: flex-start;
      left: 0%; }
      .popover-container.left .popover .arrow {
        top: 50%;
        right: -11px;
        margin-top: -11px;
        border-right-width: 0;
        border-left-color: #999999;
        border-left-color: rgba(0, 0, 0, 0.25); }
        .popover-container.left .popover .arrow:after {
          content: " ";
          right: 1px;
          border-right-width: 0;
          border-left-color: #fff;
          bottom: -10px; }
      .popover-container.left .popover .popover-tmpl {
        position: relative;
        transform: translate(-100%, -50%); }
  .popover-container.bottom-left {
    top: 10px; }
    .popover-container.bottom-left .popover {
      align-items: flex-start;
      left: 100%; }
      .popover-container.bottom-left .popover .arrow {
        right: 1px;
        margin-left: -11px;
        border-top-width: 0;
        border-bottom-color: #999999;
        border-bottom-color: rgba(0, 0, 0, 0.25);
        top: -11px;
        margin-top: 1px; }
        .popover-container.bottom-left .popover .arrow:after {
          content: " ";
          top: 1px;
          margin-left: -10px;
          border-top-width: 0;
          border-bottom-color: #fff; }
      .popover-container.bottom-left .popover .popover-tmpl {
        position: relative;
        transform: translate(-100%, 0%); }
  .popover-container.bottom-right {
    top: 10px; }
    .popover-container.bottom-right .popover {
      align-items: flex-start;
      left: 0%; }
      .popover-container.bottom-right .popover .arrow {
        left: 1px;
        border-top-width: 0;
        border-bottom-color: #999999;
        border-bottom-color: rgba(0, 0, 0, 0.25);
        top: -11px;
        margin-top: 1px; }
        .popover-container.bottom-right .popover .arrow:after {
          content: " ";
          top: 1px;
          margin-left: -10px;
          border-top-width: 0;
          border-bottom-color: #fff; }
      .popover-container.bottom-right .popover .popover-tmpl {
        position: relative;
        transform: translate(0%, 0%); }
  .popover-container.top-left {
    top: 0px; }
    .popover-container.top-left .popover {
      align-items: flex-end;
      left: 100%; }
      .popover-container.top-left .popover .arrow {
        right: 1px;
        margin-left: -11px;
        border-bottom-width: 0;
        border-top-color: #999999;
        border-top-color: rgba(0, 0, 0, 0.25);
        bottom: -10px; }
        .popover-container.top-left .popover .arrow:after {
          content: " ";
          bottom: 2px;
          margin-left: -10px;
          border-bottom-width: 0;
          border-top-color: #fff; }
      .popover-container.top-left .popover .popover-tmpl {
        position: relative;
        transform: translate(-100%, 0%); }
  .popover-container.top-right {
    top: 0px; }
    .popover-container.top-right .popover {
      align-items: flex-end;
      left: 0%; }
      .popover-container.top-right .popover .arrow {
        left: 1px;
        border-bottom-width: 0;
        border-top-color: #999999;
        border-top-color: rgba(0, 0, 0, 0.25);
        bottom: -10px; }
        .popover-container.top-right .popover .arrow:after {
          content: " ";
          bottom: 2px;
          margin-left: -10px;
          border-bottom-width: 0;
          border-top-color: #fff; }
      .popover-container.top-right .popover .popover-tmpl {
        position: relative;
        transform: translate(0%, 0%); }

.popover {
  position: relative;
  width: 0;
  height: 0;
  display: flex;
  z-index: 999; }
  .popover .popover-tmpl {
    background: #fff;
    border: 1px solid #e1e1e7;
    border-bottom: 2px solid #e1e1e7;
    border-radius: 0;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    color: #222;
    font-size: 14px; }
  .popover > .arrow {
    border-width: 11px;
    z-index: 1; }
    .popover > .arrow, .popover > .arrow:after {
      position: absolute;
      display: block;
      width: 0;
      height: 0;
      border-color: transparent;
      border-style: solid; }
    .popover > .arrow:after {
      border-width: 10px;
      content: ""; }

/**
 * card style
 */
.card {
  position: relative;
  border-radius: 2px;
  margin-bottom: 20px;
  -webkit-user-select: none;
  border-left: 0px solid transparent;
  transition: all .2s; }
  .card.card-default {
    background: #ffffff;
    border: 1px solid #e0e0eb;
    border-bottom: 2px solid #e1e1e7; }
    .card.card-default .title {
      padding: 5px 3px;
      margin: 0 10px;
      border-bottom: 1px solid #f1f1f5;
      color: #e1e1e7; }
      .card.card-default .title a.options {
        cursor: pointer;
        color: #e1e1e7;
        transition: all .2s; }
        .card.card-default .title a.options:hover, .card.card-default .title a.options.active {
          color: #c1c1c7; }
    .card.card-default .body {
      -webkit-user-select: initial;
      padding: 16px 20px 26px; }
      .card.card-default .body .file-list {
        margin-bottom: 5px;
        font-size: 12px;
        text-align: right;
        color: #999; }
      .card.card-default .body::selection,
      .card.card-default .body *::selection {
        background: #fff2a8; }
      .card.card-default .body [contenteditable="true"] {
        background: #fff2a8; }
        .card.card-default .body [contenteditable="true"]:focus {
          background: none; }
        .card.card-default .body [contenteditable="true"]::selection {
          background: #fff2a8; }
    .card.card-default.card-in-action .body {
      padding: 0; }
      .card.card-default.card-in-action .body .file-list {
        margin-bottom: 0; }
    .card.card-default .comments {
      -webkit-user-select: initial;
      -moz-user-select: initial;
      -ms-user-select: initial;
      user-select: initial;
      padding: 8px 10px 8px 20px;
      border-top: 2px solid #f1f1f5;
      background: #f6f6f9; }
      .card.card-default .comments::selection,
      .card.card-default .comments *::selection {
        background: #fff2a8; }
      .card.card-default .comments .comment-input,
      .card.card-default .comments .comment .comment-input {
        position: relative;
        display: flex;
        flex-wrap: wrap; }
        .card.card-default .comments .comment-input > *,
        .card.card-default .comments .comment .comment-input > * {
          flex-shrink: 0; }
        .card.card-default .comments .comment-input .file-list,
        .card.card-default .comments .comment .comment-input .file-list {
          width: 100%; }
        .card.card-default .comments .comment-input #fn-note,
        .card.card-default .comments .comment .comment-input #fn-note {
          position: relative;
          min-height: 30px;
          padding: 4px 8.2px;
          background: #ffffff;
          border: 1px solid #e6e6eb; }
      .card.card-default .comments [contenteditable="true"]:focus {
        outline: none;
        border: none; }
      .card.card-default .comments .comment {
        font-size: 12px;
        margin-bottom: 12px; }
        .card.card-default .comments .comment .usertag {
          -webkit-user-select: none;
          -moz-user-select: none;
          -ms-user-select: none;
          user-select: none;
          font-weight: 800; }
        .card.card-default .comments .comment .area-comment .options {
          visibility: hidden;
          transition: none;
          color: #ccc; }
        .card.card-default .comments .comment .area-comment:hover .options {
          visibility: visible; }
        .card.card-default .comments .comment #fn-note {
          position: relative; }
          .card.card-default .comments .comment #fn-note.edit {
            background: #dedee1; }
        .card.card-default .comments .comment .area-reply {
          padding-left: 30px; }
          .card.card-default .comments .comment .area-reply .replies li {
            padding: 2px 10px;
            border-left: 2px solid #e1e1e7; }
            .card.card-default .comments .comment .area-reply .replies li.recent {
              border-left: 2px solid #2ABB9B; }
            .card.card-default .comments .comment .area-reply .replies li .options {
              visibility: hidden;
              transition: none;
              color: #ccc; }
            .card.card-default .comments .comment .area-reply .replies li:hover .options {
              visibility: visible; }
          .card.card-default .comments .comment .area-reply .comment-input {
            border-left: 2px solid #e1e1e7; }
            .card.card-default .comments .comment .area-reply .comment-input #fn-note {
              min-height: 22px;
              padding: 2px 8.2px;
              font-size: 12px;
              margin-left: 10px;
              margin-top: 2px;
              width: calc(100% - 100px); }
  .card.card-in-action {
    border-left: 4px solid #F9BF3B; }
  .card .tabbar {
    padding: 0 2px; }
  .card.card-primary {
    background: #ffffff; }
    .card.card-primary .tabbar {
      background: #4B77BE;
      border-bottom: none; }
      .card.card-primary .tabbar .toolbar {
        border-bottom: none; }
    .card.card-primary .footer {
      text-align: center; }
      .card.card-primary .footer a.btn {
        color: #4B77BE; }

news {
  display: block; }
  news.ng-leave {
    transition: all .5s;
    opacity: 1; }
    news.ng-leave.ng-leave-active {
      opacity: 0;
      transform: translate(200px); }
  news.ng-enter {
    transition: all .5s;
    opacity: 0;
    transform: translateY(-100px); }
    news.ng-enter.ng-enter-active {
      opacity: 1;
      transform: translateY(0); }

/* news card style in modal context */
.modal-dialog news .card.card-default {
  display: flex;
  flex-direction: row;
  width: 720px;
  max-height: 340px;
  min-height: 200px; }
  .modal-dialog news .card.card-default .title {
    display: flex;
    flex-direction: column;
    width: 80px;
    flex-shrink: 0;
    margin-right: 0;
    text-align: right; }
  .modal-dialog news .card.card-default .news-info {
    position: relative;
    width: auto;
    left: 0;
    margin-top: 10px; }
  .modal-dialog news .card.card-default .body {
    max-height: 340px;
    overflow: auto;
    flex-grow: 1; }
  .modal-dialog news .card.card-default .comments {
    width: 180px;
    flex-shrink: 0;
    padding: 8px 10px;
    display: flex;
    flex-direction: column; }
    .modal-dialog news .card.card-default .comments > ul {
      width: 100%;
      overflow: auto;
      flex-grow: 1; }
    .modal-dialog news .card.card-default .comments .comment .area-reply {
      padding-left: 10px; }
    .modal-dialog news .card.card-default .comments .comment-input {
      width: 100%;
      max-height: 40px;
      flex-shrink: 0;
      align-self: flex-end;
      display: flex; }
      .modal-dialog news .card.card-default .comments .comment-input .sin-editor-inline {
        flex-grow: 1;
        overflow: hidden; }

.typeahead {
  left: 0;
  height: 0;
  overflow: hidden;
  padding: 1px 2px;
  position: absolute;
  opacity: 0;
  transition: all .2s;
  margin-top: 10px;
  z-index: 999; }
  .typeahead.block {
    width: 100%; }
  .typeahead.show {
    opacity: 1;
    margin-top: 0;
    height: auto;
    transition: all .2s; }
  .typeahead ul.typeahead-list {
    position: relative;
    background: white;
    display: block;
    border: 1px solid #e1e1e7;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    cursor: default;
    z-index: 1000; }
    .typeahead ul.typeahead-list li {
      cursor: pointer;
      display: block;
      padding: 0 12px;
      height: 35px;
      line-height: 35px; }
      .typeahead ul.typeahead-list li span {
        padding: 6px 0; }
      .typeahead ul.typeahead-list li.active {
        background: #F9BF3B;
        color: white;
        font-weight: bold; }

.toolbar {
  display: block;
  cursor: default;
  margin: 0;
  border-bottom: 1px solid #f1f1f5; }
  .toolbar:before, .toolbar:after {
    clear: both;
    display: block;
    content: ''; }
  .toolbar li {
    display: block;
    cursor: pointer;
    float: left;
    padding: 0;
    width: 38px;
    height: 38px;
    line-height: 35px; }
    .toolbar li button {
      touch-action: manipulation;
      cursor: pointer;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
      border: none;
      background-image: none;
      white-space: nowrap;
      vertical-align: middle;
      width: 100%;
      height: 100%;
      text-align: center;
      background: transparent;
      color: #ccc;
      transition: all .2s; }
      .toolbar li button:hover {
        color: #555; }
    .toolbar li:hover {
      box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
      -webkit-box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1); }

.modal-backdrop {
  position: fixed;
  left: 0;
  top: 0;
  background: rgba(150, 150, 150, 0.5); }
  .modal-backdrop.aside {
    background: none; }

.modal {
  position: fixed;
  width: 100%;
  height: 100%; }
@font-face {
  .modal {
    font-family: 'NanumBarunGothic';
    src: url("/fonts/NanumBarunGothic.ttf"); } }
  .modal a, .modal abbr, .modal acronym, .modal address, .modal applet, .modal article, .modal aside, .modal audio, .modal b, .modal big, .modal blockquote, .modal body, .modal canvas, .modal caption, .modal center, .modal cite, .modal code, .modal dd, .modal del, .modal details, .modal dfn, .modal div, .modal dl, .modal dt, .modal em, .modal embed, .modal fieldset, .modal figcaption, .modal figure, .modal footer, .modal form, .modal h1, .modal h2, .modal h3, .modal h4, .modal h5, .modal h6, .modal header, .modal hgroup, .modal html, .modal i, .modal iframe, .modal img, .modal ins, .modal kbd, .modal label, .modal legend, .modal li, .modal mark, .modal menu, .modal nav, .modal object, .modal ol, .modal output, .modal p, .modal pre, .modal q, .modal ruby, .modal s, .modal samp, .modal section, .modal small, .modal span, .modal strike, .modal strong, .modal sub, .modal summary, .modal sup, .modal table, .modal tbody, .modal td, .modal tfoot, .modal th, .modal thead, .modal time, .modal tr, .modal tt, .modal u, .modal ul, .modal var, .modal video {
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline; }
  .modal article, .modal aside, .modal details, .modal figcaption, .modal figure, .modal footer, .modal header, .modal hgroup, .modal menu, .modal nav, .modal section {
    display: block; }
  .modal body {
    font-family: "NanumBarunGothic",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333; }
  .modal ol, .modal ul {
    list-style: none; }
  .modal blockquote, .modal q {
    quotes: none; }
  .modal blockquote:after, .modal blockquote:before, .modal q:after, .modal q:before {
    content: '';
    content: none; }
  .modal table {
    border-collapse: collapse;
    border-spacing: 0; }
  .modal * {
    box-sizing: border-box; }
  .modal body, .modal html {
    height: 100%; }
  .modal .global-width {
    max-width: 968px; }
  .modal .margin-auto {
    margin: 0 auto; }
  .modal .txt-center {
    text-align: center; }
  .modal .shadow, .modal .modal-dialog {
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1); }
  .modal .pull-right {
    float: right !important; }
  .modal .pull-left {
    left: left !important; }
  .modal input {
    font-family: "NanumBarunGothic",Helvetica,Arial,sans-serif; }
  .modal a {
    cursor: pointer; }
    .modal a.default {
      color: #2ABB9B; }
      .modal a.default:hover {
        text-decoration: underline; }
    .modal a.btn {
      opacity: 0.5;
      text-decoration: none;
      transition: all .2s; }
      .modal a.btn:hover {
        opacity: 1; }
  .modal .close {
    position: absolute;
    right: 10px;
    top: 10px;
    display: inline-block;
    font-family: 'Glyphicons Regular';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    vertical-align: middle;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale; }
    .modal .close::before {
      content: "\E208"; }
  .modal .hidden {
    display: none !important; }
  .modal .light {
    color: #dddddd; }
  .modal .ng-hide.ng-hide-animate {
    display: none !important; }
  .modal .glyphicons.flip-x {
    transform: rotateY(180deg); }
  .modal .glyphicons.flip-y {
    transform: rotateX(180deg); }
  .modal .modal-dialog {
    position: fixed;
    top: 30%;
    left: 50%;
    min-width: 280px;
    transform: translate(-50%);
    background: white;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    border-bottom: 2px solid #e1e1e7; }
    .modal .modal-dialog .modal-title {
      height: 100px; }
    .modal .modal-dialog .modal-body {
      padding: 5px 0;
      border-top: 1px solid #f1f1f5; }
  .modal.fade {
    opacity: 0;
    -webkit-transition: opacity .15s ease-out;
    -o-transition: opacity .15s ease-out;
    transition: opacity .15s ease-out; }
    .modal.fade.in {
      opacity: 1; }
  .modal.danger .modal-dialog {
    background: #E2747D;
    border-bottom-color: #c06062;
    color: white; }
    .modal.danger .modal-dialog .modal-body {
      border-top-color: #f98486; }
  .modal.aside {
    position: fixed;
    width: 300px;
    height: calc(100% - 50px);
    left: 0;
    top: 50px; }
    .modal.aside .modal-dialog {
      background: #ffffff;
      position: relative;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      margin-left: 0;
      padding: 15px 20px;
      transform: translate(0%);
      text-align: center; }
      .modal.aside .modal-dialog .modal-content {
        height: 100%; }
        .modal.aside .modal-dialog .modal-content header {
          height: 50px;
          border-bottom: 1px solid #f1f1f5;
          font-weight: 800; }
        .modal.aside .modal-dialog .modal-content .aside-body {
          height: calc(100% - 110px);
          padding: 5px 15px;
          text-overflow: ellipsis;
          word-wrap: break-word; }
          .modal.aside .modal-dialog .modal-content .aside-body li {
            display: block;
            min-height: 40px;
            border-bottom: 1px solid #f1f1f5;
            padding: 5px 10px; }
        .modal.aside .modal-dialog .modal-content footer {
          height: 60px;
          padding: 10px;
          border-top: 1px solid #e1e1e7; }
    .modal.aside.fade {
      opacity: 1;
      transform: translateX(-300px);
      transition: transform .2s ease-in-out; }
      .modal.aside.fade.in {
        transform: translateX(0px); }

.aside {
  position: fixed;
  width: 300px;
  height: calc(100% - 50px);
  left: 0;
  top: 50px;
  background: #ffffff; }
  .aside header {
    height: 50px;
    border-bottom: 1px solid #f1f1f5;
    font-weight: 800; }
  .aside .aside-body {
    height: calc(100% - 110px);
    padding: 5px 15px; }
    .aside .aside-body li {
      display: block;
      min-height: 40px;
      border-bottom: 1px solid #f1f1f5;
      padding: 5px 10px; }
  .aside footer {
    height: 60px;
    padding: 10px;
    border-top: 1px solid #e1e1e7; }
  .aside.ng-enter {
    opacity: 1;
    transform: translateX(-300px);
    transition: transform .2s ease-in-out; }
    .aside.ng-enter.ng-enter-active {
      transform: translateX(0px); }

#loading-target {
  display: block;
  margin: 0 auto; }

.well {
  background: #6c7a89;
  border-bottom: 1px solid #f1f1f5;
  border-radius: 2px;
  padding: 16px 20px;
  color: #fff;
  margin: 10px 0; }

.namespace {
  position: relative;
  padding: 8px 8px 8px 16px;
  border-radius: 1px;
  background: #fff;
  border-bottom: 1px #f1f1f5;
  height: 40px;
  line-height: 30px;
  color: #222;
  margin-right: 12px; }
  .namespace:before {
    display: block;
    position: absolute;
    width: 4px;
    height: 100%;
    content: '';
    background: #2ABB9B;
    top: 0;
    left: 0; }
  .namespace .content {
    display: inline-block;
    vertical-align: middle; }
  .namespace .options {
    display: inline-block;
    vertical-align: middle;
    margin-top: -4px; }
  .namespace.empty {
    border: 1px dashed #fff;
    background: transparent;
    color: white;
    padding: 0; }
    .namespace.empty form {
      display: inline-block; }
      .namespace.empty form input {
        background: transparent;
        padding: 8px 16px; }
    .namespace.empty:before {
      display: none; }

.caret {
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: 2px;
  vertical-align: middle;
  border-top: 4px dashed;
  border-top: 4px solid \9;
  border-right: 4px solid transparent;
  border-left: 4px solid transparent; }

.dropup,
.dropdown {
  position: relative; }

.dropdown-toggle:focus {
  outline: 0; }

.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 160px;
  padding: 5px 0;
  margin: 2px 0 0;
  list-style: none;
  font-size: 14px;
  text-align: left;
  background-color: #fff;
  border: 1px solid #ccc;
  border: 1px solid #e1e1e7;
  border-radius: 0;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  background-clip: padding-box; }
  .dropdown-menu.pull-right {
    right: 0;
    left: auto; }
  .dropdown-menu .divider {
    height: 1px;
    margin: 9px 0;
    overflow: hidden;
    background-color: #e5e5e5; }
  .dropdown-menu > li > a {
    display: block;
    clear: both;
    font-weight: normal;
    padding: 5px 10px;
    font-size: 12px;
    text-indent: 5px;
    color: #222;
    text-align: left;
    text-decoration: none;
    white-space: nowrap; }

.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
  text-decoration: none;
  color: #262626;
  background-color: #f5f5f5; }

.dropdown-menu > .active > a, .dropdown-menu > .active > a:hover, .dropdown-menu > .active > a:focus {
  color: #fff;
  text-decoration: none;
  outline: 0;
  background-color: #337ab7; }

.dropdown-menu > .disabled > a, .dropdown-menu > .disabled > a:hover, .dropdown-menu > .disabled > a:focus {
  color: #777777; }
.dropdown-menu > .disabled > a:hover, .dropdown-menu > .disabled > a:focus {
  text-decoration: none;
  background-color: transparent;
  background-image: none; }

.open > .dropdown-menu {
  display: block; }
.open > a {
  outline: 0; }

.dropdown-menu-right {
  left: auto;
  right: 0; }

.dropdown-menu-left {
  left: 0;
  right: auto; }

.dropdown-header {
  display: block;
  padding: 3px 20px;
  font-size: 12px;
  line-height: 1.42857;
  color: #777777;
  white-space: nowrap; }

.dropdown-backdrop {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  z-index: 990; }

.pull-right > .dropdown-menu {
  right: 0;
  left: auto; }

.dropup .caret,
.navbar-fixed-bottom .dropdown .caret {
  border-top: 0;
  border-bottom: 4px dashed;
  border-bottom: 4px solid \9;
  content: ""; }
.dropup .dropdown-menu,
.navbar-fixed-bottom .dropdown .dropdown-menu {
  top: auto;
  bottom: 100%;
  margin-bottom: 2px; }

@media (min-width: 768px) {
  .navbar-right .dropdown-menu {
    right: 0;
    left: auto; }
  .navbar-right .dropdown-menu-left {
    left: 0;
    right: auto; } }

/*# sourceMappingURL=component.css.map */
