@import "variable.scss";
@import "mixin";
input{
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;

  border-radius: 0;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;

  border: none;
  line-height: 1;
  &:focus{
    border: none;
    outline: none;
  }

  &.form-input{
    padding: 5px 8px;
    font-size: 14px;
    width: 100%;
    border-bottom: 1px solid #e1e1e7;
    margin-bottom: 10px;
    transition: border .2s;
    &:focus{
      border-bottom: 1px solid #4d92e7;
      font-size: 16px;
      margin-bottom: 10px;
    }
    &.lg{
      height: 40px;
    }
    &.primary{
      &:focus{
        border-bottom: 1px solid #2ABB9B;
        font-size: 16px;
      }
    }
  }
  &.transparent{
    background: transparent;
  }
}

button,input[type="submit"],input[type="button"]{
  cursor: pointer;
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;

  border-radius: 0;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;

  border: none;
  &.btn{
    border-radius: 2px;
    padding: 8px 5px;
    height: 28px;
    font-size: 12px;
    line-height: 0.8;
    &.btn-lg{
      height: 36px;
    }
    &.btn-sm{
      height:26px;
      line-height:0.8;
      font-size:12px;
    }
    &.btn-block{
      display: block;
      width: 100%;
    }
    &.btn-transparent{
      background: transparent !important;
      border: transparent !important;
    }
    &.btn-default{
      background: #ffffff;
      border: 1px solid #e1e1e7;
      transition: background .2s;
      color: #232323;
      &:hover{
        background: #f1f1f5;
        border-bottom: 1px solid #d4d4da;
      }
      &.btn-transparent{
        color : #232323;
      }
    }
    &.btn-primary{
      @include generateButton($btn-primary-bg);
    }
    &.btn-warning{
      @include generateButton($btn-warning-bg);
    }
    &.btn-info{
      @include generateButton($btn-info-bg);
    }
    &.btn-danger {
      @include generateButton($btn-danger-bg);
    }
    .glyphicons{
      margin-left: .3em;
      margin-top: -.2em;
      margin-right: .3em;
    }
  }
}



//== Popovers
//
//##

//** Popover body background color
$popover-bg:                          #fff !default;
//** Popover maximum width
$popover-max-width:                   276px !default;
//** Popover minimum width
$popover-min-width:                   100px !default;
//** Popover border color
$popover-border-color:                #e1e1e7 !default;
//** Popover fallback border color
$popover-fallback-border-color:       #ccc !default;

//** Popover title background color
$popover-title-bg:                    darken($popover-bg, 3%) !default;

//** Popover arrow width
$popover-arrow-width:                 10px !default;
//** Popover arrow color
$popover-arrow-color:                 $popover-bg !default;

//** Popover outer arrow width
$popover-arrow-outer-width:           ($popover-arrow-width + 1) !default;
//** Popover outer arrow color
$popover-arrow-outer-color:           fade_in($popover-border-color, 0.05) !default;
//** Popover outer arrow fallback color
$popover-arrow-outer-fallback-color:  darken($popover-fallback-border-color, 20%) !default;

.popover-container{
  position: relative;
  display: block;
  clear: both;

  &.top {
    top: 0px;
    .popover{
      align-items: flex-end;
      left: 50%;
      .arrow {
        left: 50%;
        margin-left: -$popover-arrow-outer-width;
        border-bottom-width: 0;
        border-top-color: $popover-arrow-outer-fallback-color; // IE8 fallback
        border-top-color: $popover-arrow-outer-color;
        bottom: -$popover-arrow-outer-width+1;
        &:after {
          content: " ";
          bottom: 2px;
          margin-left: -$popover-arrow-width;
          border-bottom-width: 0;
          border-top-color: $popover-arrow-color;
        }
      }
      .popover-tmpl{
        position: relative;
        transform: translate(-50%, 0%);
      }
    }
  }
  &.right {
    top: 50%;
    left: 10px;
    .popover{
      align-items: flex-start;
      left: 100%;
      .arrow {
        top: 50%;
        left: -$popover-arrow-outer-width;
        margin-top: -$popover-arrow-outer-width;
        border-left-width: 0;
        border-right-color: $popover-arrow-outer-fallback-color; // IE8 fallback
        border-right-color: $popover-arrow-outer-color;
        &:after {
          content: " ";
          left: 1px;
          bottom: -$popover-arrow-width;
          border-left-width: 0;
          border-right-color: $popover-arrow-color;
        }
      }
      .popover-tmpl{
        position: relative;
        transform: translate(0%, -50%);
      }
    }
  }
  &.bottom {
    top: 10px;
    .popover{
      align-items: flex-start;
      left: 50%;
      .arrow {
        left: 50%;
        margin-left: -$popover-arrow-outer-width;
        border-top-width: 0;
        border-bottom-color: $popover-arrow-outer-fallback-color; // IE8 fallback
        border-bottom-color: $popover-arrow-outer-color;
        top: -$popover-arrow-outer-width;
        margin-top: 1px;
        &:after {
          content: " ";
          top: 1px;
          margin-left: -$popover-arrow-width;
          border-top-width: 0;
          border-bottom-color: $popover-arrow-color;
        }
      }
      .popover-tmpl{
        position: relative;
        transform: translate(-50%, 0%);
      }
    }
  }
  &.left {
    top: 50%;
    right: 10px;
    .popover{
      align-items: flex-start;
      left: 0%;
      .arrow {
        top: 50%;
        right: -$popover-arrow-outer-width;
        margin-top: -$popover-arrow-outer-width;
        border-right-width: 0;
        border-left-color: $popover-arrow-outer-fallback-color; // IE8 fallback
        border-left-color: $popover-arrow-outer-color;
        &:after {
          content: " ";
          right: 1px;
          border-right-width: 0;
          border-left-color: $popover-arrow-color;
          bottom: -$popover-arrow-width;
        }
      }
      .popover-tmpl{
        position: relative;
        transform: translate(-100%, -50%);
      }
    }
  }
  &.bottom-left{
    top: 10px;
    .popover{
      align-items: flex-start;
      left: 100%;
      .arrow {
        right: 1px;
        margin-left: -$popover-arrow-outer-width;
        border-top-width: 0;
        border-bottom-color: $popover-arrow-outer-fallback-color; // IE8 fallback
        border-bottom-color: $popover-arrow-outer-color;
        top: -$popover-arrow-outer-width;
        margin-top: 1px;
        &:after {
          content: " ";
          top: 1px;
          margin-left: -$popover-arrow-width;
          border-top-width: 0;
          border-bottom-color: $popover-arrow-color;
        }
      }
      .popover-tmpl{
        position: relative;
        transform: translate(-100%, 0%);
      }
    }
  }
  &.bottom-right{
    top: 10px;
    .popover{
      align-items: flex-start;
      left: 0%;
      .arrow {
        left: 1px;
        border-top-width: 0;
        border-bottom-color: $popover-arrow-outer-fallback-color; // IE8 fallback
        border-bottom-color: $popover-arrow-outer-color;
        top: -$popover-arrow-outer-width;
        margin-top: 1px;
        &:after {
          content: " ";
          top: 1px;
          margin-left: -$popover-arrow-width;
          border-top-width: 0;
          border-bottom-color: $popover-arrow-color;
        }
      }
      .popover-tmpl{
        position: relative;
        transform: translate(0%, 0%);
      }
    }
  }
  &.top-left {
    top: 0px;
    .popover{
      align-items: flex-end;
      left: 100%;
      .arrow {
        right: 1px;
        margin-left: -$popover-arrow-outer-width;
        border-bottom-width: 0;
        border-top-color: $popover-arrow-outer-fallback-color; // IE8 fallback
        border-top-color: $popover-arrow-outer-color;
        bottom: -$popover-arrow-outer-width+1;
        &:after {
          content: " ";
          bottom: 2px;
          margin-left: -$popover-arrow-width;
          border-bottom-width: 0;
          border-top-color: $popover-arrow-color;
        }
      }
      .popover-tmpl{
        position: relative;
        transform: translate(-100%, 0%);
      }
    }
  }
  &.top-right {
    top: 0px;
    .popover{
      align-items: flex-end;
      left: 0%;
      .arrow {
        left: 1px;
        border-bottom-width: 0;
        border-top-color: $popover-arrow-outer-fallback-color; // IE8 fallback
        border-top-color: $popover-arrow-outer-color;
        bottom: -$popover-arrow-outer-width+1;
        &:after {
          content: " ";
          bottom: 2px;
          margin-left: -$popover-arrow-width;
          border-bottom-width: 0;
          border-top-color: $popover-arrow-color;
        }
      }
      .popover-tmpl{
        position: relative;
        transform: translate(0%, 0%);
      }
    }
  }
}

.popover {
  position: relative;
  width: 0;
  height: 0;
  display: flex;
  z-index : 999;
  .popover-tmpl{
    background: #fff;
    border: 1px solid #e1e1e7;
    border-bottom: 2px solid #e1e1e7;
    border-radius: 0;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    color: #222;
    font-size: $font-size-base;
  }
  > .arrow {
    border-width: $popover-arrow-outer-width;
    z-index: 1;
    &,
    &:after {
      position: absolute;
      display: block;
      width: 0;
      height: 0;
      border-color: transparent;
      border-style: solid;
    }
    &:after {
      border-width: $popover-arrow-width;
      content: "";
    }
  }
}


/**
 * card style
 */
.card {
  position: relative;
  border-radius: 2px;
  margin-bottom: 30px;
  -webkit-user-select: none;
  border-left: 0px solid transparent;
  transition: all .2s;
  &.card-default {
    background: #ffffff;
    border-bottom: 2px solid #e1e1e7;
    .content-wrapper{
      >.title {
        padding: 5px 3px;
        margin: 0 10px;
        border-bottom: 1px solid #f1f1f5;
        color: #e1e1e7;
        a.options {
          cursor: pointer;
          color: #e1e1e7;
          transition: all .2s;
          &:hover, &.active {
            color: #c1c1c7;
          }
        }
      }
      >.body {
        .file-list{
          margin-bottom: 5px;
          font-size: 12px;
          text-align: right;
          color: #999;
        }
        -webkit-user-select: initial;
        padding: 12px 20px 26px;
        word-break: break-word;
        &::selection,
        *::selection {
          background: #fff2a8;
        }
        [contenteditable="true"] {
          background: #fff2a8;
          &:focus {
            background: none !important;
          }
          &::selection {
            background: #fff2a8;
          }
        }
      }
      >.comments {
        -webkit-user-select: initial;
        -moz-user-select: initial;
        -ms-user-select: initial;
        user-select: initial;
        &::selection,
        *::selection {
          background: #fff2a8;
        }
        padding: 8px;
        background: #f6f6f9;
        color: #555;
        .file-list{
          color:#299c7d;
          width: 100%;
          text-align: right;
          font-size: 12px;
          &:hover{
            color: #2eb38f;
          }
        }
        .comment-input,
        .comment .comment-input {
          position: relative;
          display: flex;
          flex-wrap: wrap;
          >*{
            flex-shrink: 0;
          }
          #fn-note {
            position: relative;
            min-height: 30px;
            padding: 4px 8.2px;
            background: #ffffff;
            border: 1px solid #e6e6eb;
          }
        }
        [contenteditable="true"] {
          &:focus {
            outline: none;
            border: none;
          }
        }
        .comment {
          font-size: 12px;
          padding: 4px 4px 4px 12px;
          margin-bottom: 5px;
          &:hover{
            background: #f0f0f4;
          }
          .usertag{
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
            font-weight: 800;
          }
          .area-comment{
            .options{
              visibility: hidden;
              transition: none;
              color: #ccc;
            }
            &:hover {
              .options{
                visibility: visible;
              }
            }
          }
          #fn-note {
            position: relative;
            &.edit {
              background: #dedee1;
            }
          }
          .area-reply{
            padding-left: 30px;
            .replies{
              li{
                padding : 2px 10px;
                border-left: 2px solid #e1e1e7;
                &.recent{
                  border-left: 2px solid #2ABB9B;
                }
                .options{
                  visibility: hidden;
                  transition: none;
                  color: #ccc;
                }
                &:hover {
                  border-left-color: #2ABB9B;
                  .options{
                    visibility: visible;
                  }
                }
              }
            }
            .comment-input{
              border-left : 2px solid #e1e1e7;
              #fn-note{
                min-height : 22px;
                padding : 2px 8.2px;
                font-size: 12px;
                margin-left: 10px;
                margin-top: 2px;
              }
            }
          }
        }
      }
    }
    &.card-in-action{
      .content-wrapper {
        > .body {
          padding: 0;
          .file-list {
            margin-bottom: 0;
          }
        }
      }
    }
  }
  &.card-in-action {
    border-left: 4px solid $brand-warning;
  }
  .tabbar {
    padding: 0 2px;
  }
  &.card-primary {
    .tabbar {
      background: #4B77BE;
      border-bottom: none;
      .toolbar {
        border-bottom: none;
      }
    }
    background: #ffffff;
    .footer {
      text-align: center;
      a.btn {
        color: #4B77BE;
      }
    }
  }
  &.issue{
    $brand-awesome : #e5b0ff;
    //border-left: 3px solid $brand-danger;
    &.card-in-action {
      border-left: 4px solid $brand-danger;
    }
    .news-info .news-author{
      color: $brand-danger;
    }
    .content-wrapper {
      > .title {
        padding: 5px 13px;
        margin: 0;
        border-left: 4px solid $brand-danger;
        color: $brand-danger;
        border-bottom: none;
        a.options {
          cursor: pointer;
          color: #e1e1e7;
          transition: all .2s;
          &:hover, &.active {
            color: #c1c1c7;
          }
        }
      }
    }
  }
}
news{
  display: block;
  &.ng-leave {
    transition: all .5s;
    opacity: 1;
    &.ng-leave-active {
      opacity: 0;
      transform: translate(200px);
    }
  }
  &.ng-enter {
    transition: all .5s;
    opacity: 0;
    transform: translateY(-100px);
    &.ng-enter-active {
      opacity: 1;
      transform: translateY(0);
    }
  }
}
/* news card style in modal context */
.modal-dialog{
  $height:340px;
  news{
    >.card{
      &.card-default{
        display: flex;
        flex-direction: row;
        width: 720px;
        max-height: $height;
        min-height: 200px;
        .content-wrapper{
          display: flex;
          flex-grow: 1;
          >.title{
            display: flex;
            flex-direction: column;
            width: 80px;
            flex-shrink: 0;
            margin-right: 0;
            text-align: right;
            border-bottom: none;
            >.news-info {
              position: relative;
              width: auto;
              left: 0;
              margin-top: 10px;
            }
          }
          >.body{
            max-height: $height;
            overflow: auto;
            flex-grow: 1;
            display: flex;
            flex-direction: column;
          }
          >.comments{
            width: 240px;
            flex-shrink: 0;
            padding: 8px 10px;
            display: flex;
            flex-direction: column;
            >ul{
              width: 100%;
              flex-grow: 1;
              overflow-x: hidden;
            }
            .comment{
              .area-reply{
                padding-left: 10px;
              }
            }
            .comment-input{
              width: 100%;
              max-height: 40px;
              flex-shrink: 0;
              align-self: flex-end;
              display: flex;
              .sin-editor-inline{
                flex-grow: 1;
                overflow: hidden;

              }
            }
          }
        }
        &.card-in-action{
          /* editing */
          .body{
            padding: 0;
            display: flex;
            flex-direction: column;
            overflow: visible;
            .file-list{
              margin-bottom: 0;
            }
          }
        }
      }
    }
  }
}

.typeahead {
  left: 0;
  height: 0;
  overflow: hidden;
  padding: 1px 2px;
  position: absolute;
  opacity: 0;
  transition: all .2s;
  margin-top: 10px;
  z-index: 999;
  &.block {
    width: 100%;
  }
  &.show {
    opacity: 1;
    margin-top: 0;
    height: auto;
    transition: all .2s;
  }
  ul.typeahead-list {
    position: relative;
    background: white;
    display: block;
    border: 1px solid #e1e1e7;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    cursor: default;
    z-index: 1000;
    li {
      cursor: pointer;
      display: block;
      padding: 0 12px;
      height: 35px;
      line-height: 35px;
      span {
        padding: 6px 0;
      }
      &.active {
        background: #F9BF3B;
        color: white;
        font-weight: bold;
      }
    }
  }
}

.toolbar {
  display: flex;
  cursor: default;
  margin: 0;
  &:before, &:after {
    clear: both;
    display: block;
    content: '';
  }
  li {
    display: flex;
    align-items: center;
    cursor: pointer;
    padding: 0;
    width: 30px;
    height: 30px;
    line-height: 35px;
    font-size: 10px;
    button {
      touch-action: manipulation;
      cursor: pointer;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
      border: none;
      background-image: none;
      white-space: nowrap;
      vertical-align: middle;
      width: 100%;
      height: 100%;
      text-align: center;
      background: transparent;
      color: #ccc;
      transition: all .2s;
      &:hover {
        color: #555;
      }
    }
    &:hover {
      box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
      -webkit-box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);

    }
  }
}

.modal-backdrop {
  position: fixed;
  left: 0;
  top: 0;
  background: rgba(150, 150, 150, 0.5);
}
.modal {
  @import "base.scss";
  position: fixed;
  width: 100%;
  height: 100%;
  .modal-dialog {
    @extend .shadow;
    $width: 280px;
    position: fixed;
    top: 30%;
    left: 50%;
    min-width: $width;
    transform: translate(-50%);
    background: white;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    border-bottom: 2px solid #e1e1e7;
    .modal-title {
      height: 100px;
    }
    .modal-body {
      padding: 5px 0;
      border-top: 1px solid #f1f1f5;
    }
  }
  &.fade {
    opacity: 0;
    -webkit-transition: opacity .15s ease-out;
    -o-transition: opacity .15s ease-out;
    transition: opacity .15s ease-out;
    &.in {
      opacity: 1;
    }
  }
  &.danger {
    .modal-dialog {
      background: #E2747D;
      border-bottom-color: #c06062;
      color: white;
      .modal-body {
        border-top-color: #f98486;
      }
    }
  }
}

#loading-target{
  display: block;
  margin: 0 auto;
}
.well{
  background: #6c7a89;
  border-bottom: 1px solid #f1f1f5;
  border-radius: 2px;
  padding: 16px 20px;
  color: #fff;
  margin: 10px 0;
}

.namespace{
  position: relative;
  padding: 8px 8px 8px 16px;
  border-radius: 1px;
  background: #fff;
  border-bottom: 1px #f1f1f5;
  height: 40px;
  line-height: 30px;
  color: #222;
  margin-right: 12px;
  &:before{
    display: block;
    position: absolute;
    width: 4px;
    height: 100%;
    content: '';
    background: #2ABB9B;
    top: 0;
    left:0;
  }
  .content{
    display: inline-block;
    vertical-align: middle;
  }
  .options{
    display: inline-block;
    vertical-align: middle;
    margin-top: -4px;
  }
  &.empty{
    border: 1px dashed #fff;
    background: transparent;
    color: white;
    padding: 0;
    form{
      display: inline-block;
      input{
        background:transparent;
        padding: 8px 16px;
      }
    }
    &:before{
      display: none;
    }
  }
}


//
// Dropdown menus
// --------------------------------------------------


// Dropdown arrow/caret
.caret {
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: 2px;
  vertical-align: middle;
  border-top:   $caret-width-base dashed;
  border-top:   $caret-width-base solid \9; // IE8
  border-right: $caret-width-base solid transparent;
  border-left:  $caret-width-base solid transparent;
}

// The dropdown wrapper (div)
.dropup,
.dropdown {
  position: relative;
}

// Prevent the focus on the dropdown toggle when closing dropdowns
.dropdown-toggle:focus {
  outline: 0;
}

// The dropdown menu (ul)
.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: $zindex-dropdown;
  display: none; // none by default, but block on "open" of the menu
  float: left;
  min-width: 160px;
  padding: 5px 0;
  margin: 2px 0 0; // override default ul
  list-style: none;
  font-size: $font-size-base;
  text-align: left; // Ensures proper alignment if parent has it changed (e.g., modal footer)
  background-color: $dropdown-bg;
  border: 1px solid $dropdown-fallback-border; // IE8 fallback
  border: 1px solid $dropdown-border;
  border-radius: 0;
  box-shadow : 0 2px 8px rgba(0,0,0,.1);
  background-clip: padding-box;

  // Aligns the dropdown menu to right
  //
  // Deprecated as of 3.1.0 in favor of `.dropdown-menu-[dir]`
  &.pull-right {
    right: 0;
    left: auto;
  }

  // Dividers (basically an hr) within the dropdown
  .divider {
    height: 1px;
    margin: (($line-height-computed / 2) - 1) 0;
    overflow: hidden;
    background-color: $dropdown-divider-bg;
  }

  // Links within the dropdown menu
  > li > a {
    display: block;
    clear: both;
    font-weight: normal;
    padding: 5px 10px;
    font-size: 12px;
    text-indent: 5px;
    color: #222;
    text-align: left;
    text-decoration: none;
    white-space: nowrap; // prevent links from randomly breaking onto new lines
  }
}

// Hover/Focus state
.dropdown-menu > li > a {
  &:hover,
  &:focus {
    text-decoration: none;
    background-color: $dropdown-link-hover-bg;
  }
}

// Active state
.dropdown-menu > .active > a {
  &,
  &:hover,
  &:focus {
    color: #fff;
    text-decoration: none;
    outline: 0;
    background-color: $dropdown-link-active-bg;
  }
}
.btn{
  &.btn-primary{
    &+.dropdown-menu > .active > a{
      background: $btn-primary-bg;
    }
  }
  &.btn-info{
    &+.dropdown-menu > .active > a{
      background: $btn-info-bg;
    }
  }
  &.btn-warning{
    &+.dropdown-menu > .active > a{
      background: $btn-warning-bg;
    }
  }
  &.btn-danger{
    &+.dropdown-menu > .active > a{
      background: $btn-danger-bg;
    }
  }
}
// Disabled state
//
// Gray out text and ensure the hover/focus state remains gray

.dropdown-menu > .disabled > a {
  &,
  &:hover,
  &:focus {
    color: $dropdown-link-disabled-color;
  }

  // Nuke hover/focus effects
  &:hover,
  &:focus {
    text-decoration: none;
    background-color: transparent;
    background-image: none; // Remove CSS gradient
  }
}

// Open state for the dropdown
.open {
  // Show the menu
  > .dropdown-menu {
    display: block;
  }

  // Remove the outline when :focus is triggered
  > a {
    outline: 0;
  }
}

// Menu positioning
//
// Add extra class to `.dropdown-menu` to flip the alignment of the dropdown
// menu with the parent.
.dropdown-menu-right {
  left: auto; // Reset the default from `.dropdown-menu`
  right: 0;
}
// With v3, we enabled auto-flipping if you have a dropdown within a right
// aligned nav component. To enable the undoing of that, we provide an override
// to restore the default dropdown menu alignment.
//
// This is only for left-aligning a dropdown menu within a `.navbar-right` or
// `.pull-right` nav component.
.dropdown-menu-left {
  left: 0;
  right: auto;
}

// Dropdown section headers
.dropdown-header {
  display: block;
  padding: 3px 20px;
  font-size: $font-size-small;
  line-height: $line-height-base;
  color: $dropdown-header-color;
  white-space: nowrap; // as with > li > a
}

// Backdrop to catch body clicks on mobile, etc.
.dropdown-backdrop {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  z-index: ($zindex-dropdown - 10);
}

// Right aligned dropdowns
.pull-right > .dropdown-menu {
  right: 0;
  left: auto;
}

// Allow for dropdowns to go bottom up (aka, dropup-menu)
//
// Just add .dropup after the standard .dropdown class and you're set, bro.
// TODO: abstract this so that the navbar fixed styles are not placed here?

.dropup,
.navbar-fixed-bottom .dropdown {
  // Reverse the caret
  .caret {
    border-top: 0;
    border-bottom: $caret-width-base dashed;
    border-bottom: $caret-width-base solid \9; // IE8
    content: "";
  }
  // Different positioning for bottom up menu
  .dropdown-menu {
    top: auto;
    bottom: 100%;
    margin-bottom: 2px;
  }
}

.control-group {
  display: inline-block;
  vertical-align: top;
  background: #fff;
  text-align: left;
  box-shadow: 0 1px 2px rgba(0,0,0,0.1);
  padding: 30px;
  width: 200px;
  height: 210px;
  margin: 10px;
}
.control {
  display: block;
  position: relative;
  padding-left: 20px;
  margin-bottom: 10px;
  cursor: pointer;
  line-height: 26px;
  font-size: 12px;
  &.nomargin{
    margin-bottom: 0;
  }
  input {
    position: absolute;
    z-index: -1;
    opacity: 0;
  }
}
.control__indicator {
  position: absolute;
  top: 6px;
  left: 0;
  height: 14px;
  width: 14px;
  background: #e6e6e6;
  &:after{
    content: '';
    position: absolute;
    display: none;
  }
}
.control--radio .control__indicator {
  border-radius: 50%;
}
.control:hover input ~ .control__indicator,
.control input:focus ~ .control__indicator {
  background: #ccc;
}
@mixin control-indicator-theme($bg){
  input:checked ~ .control__indicator {background: $bg}
  &:hover input:not([disabled]):checked ~ .control__indicator,
  input:checked:focus ~ .control__indicator {
    background: darken($bg, 5%);
  }
}
.control input:checked ~ .control__indicator {
  background: #2aa888;
}
.control:hover input:not([disabled]):checked ~ .control__indicator,
.control input:checked:focus ~ .control__indicator {
  background: #299c7d;
}
.control{
  &.primary {@include control-indicator-theme($brand-primary);}
  &.info  {@include control-indicator-theme($brand-info);}
  &.warning  {@include control-indicator-theme($brand-warning);}
  &.danger  {@include control-indicator-theme($brand-danger);}
}
.control input:disabled ~ .control__indicator {
  background: #e6e6e6;
  opacity: 0.6;
  pointer-events: none;
}
.control input:checked ~ .control__indicator:after {
  display: block;
}

.control--checkbox {
  .control__indicator:after {
    left: 4px;
    top: 2px;
    width: 2px;
    height: 6px;
    border: solid #fff;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
  }
}
.control--checkbox input:disabled ~ .control__indicator:after {
  border-color: #7b7b7b;
}
.control--radio {
  .control__indicator:after {
    left: 4px;
    top: 4px;
    height: 6px;
    width: 6px;
    border-radius: 50%;
    background: #fff;
  }
}
.control--radio input:disabled ~ .control__indicator:after {
  background: #7b7b7b;
}
.select {
  position: relative;
  display: inline-block;
  margin-bottom: 15px;
  width: 100%;
}
.select select {
  display: inline-block;
  width: 100%;
  cursor: pointer;
  padding: 10px 15px;
  outline: 0;
  border: 0;
  border-radius: 0;
  background: #e6e6e6;
  color: #7b7b7b;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}
.select select::-ms-expand {
  display: none;
}
.select select:hover,
.select select:focus {
  color: #000;
  background: #ccc;
}
.select select:disabled {
  opacity: 0.5;
  pointer-events: none;
}
.select__arrow {
  position: absolute;
  top: 16px;
  right: 15px;
  width: 0;
  height: 0;
  pointer-events: none;
  border-style: solid;
  border-width: 8px 5px 0 5px;
  border-color: #7b7b7b transparent transparent transparent;
}
.select select:hover ~ .select__arrow,
.select select:focus ~ .select__arrow {
  border-top-color: #000;
}
.select select:disabled ~ .select__arrow {
  border-top-color: #ccc;
}


// Component alignment
//
// Reiterate per navbar.less and the modified component alignment there.

@media (min-width: $grid-float-breakpoint) {
  .navbar-right {
    .dropdown-menu {
      right: 0; left: auto;
    }
    // Necessary for overrides of the default right aligned menu.
    // Will remove come v4 in all likelihood.
    .dropdown-menu-left {
      left: 0; right: auto;
    }
  }
}


/* black theme */
.dracula{
  .card.card-default{
    background: #616161;
    border-bottom: 2px solid #565656;
    color: #fff;
    .content-wrapper{
      >.title{
        border-bottom: 1px solid #797979;
        color: #e1e1e7;
      }
      >.body{
        [contenteditable="true"]{
          background: #c7a24c;
        }
      }
      >.comments{
        background: #555;
        color: #f1f1f1;
        .comment-input,
        .comment .comment-input {
          #fn-note {
            background: #4a4a4a;
            border: 1px solid #e6e6eb;
            border: none;
          }
        }
        .comment{
          transition: background .1s;
          &:hover{
            background: #4a4a4a;
            .comment-input #fn-note{
              background: #555555;
            }
          }
          .area-reply{
            .replies li,
            .comment-input{
              border-left-color: #797979;
            }
          }
        }
      }
    }
  }
  .modal {
    .modal-dialog {
      background: #616161;
      border-bottom-color: #4a4a4a;
    }
  }
}

.fav,
button.fav,
button.btn.fav{
  position: fixed;
  bottom: $fav-pos-bottom;
  right: $fav-pos-right;
  left: auto;
  top: auto;
  width: $fav-size;
  height: $fav-size;
  border-radius:$fav-size;
  background: $brand-primary;
  font-size: 18px;
  padding:0;
  @include drop-shadow(0.15);
  &:focus{
    outline: none;
  }
  >.glyphicons{
    position: absolute;
    display: flex;
    width: 100%;
    height:100%;
    justify-content:center;
    align-items:center;
    margin:0;
    &.ng-enter{
      transition: all .5s;
      transform: rotate(-120deg);
      &.ng-enter-active{
        opacity: 1;
        transform: rotate(0deg);
      }
    }
    &.ng-leave{
      transition: all .5s;
      transform: rotate(0deg);
      &.ng-leave-active{
        opacity:0;
        transform: rotate(-120deg);
      }
    }
  }
}

.snackbar{
  padding: 2px 5px !important;
  background: $brand-primary;
  color: #fff;
  font-size: 12px;
  border-radius: 4px;
  border-bottom: 1px solid #49b084;
}

.attachment,
.modal .attachment{
  padding: 10px 20px;
  margin: 20px 10px 0;
  border: 1px solid #f1f1f5;
  box-shadow: 0 1px 1px rgba(150, 150, 150, 0.5);
  -webkit-box-shadow: 0 1px 1px rgba(150, 150, 150, 0.5);
  cursor: pointer;
  transition: all .2s;
  background: #f6f6f9;
  &:hover{
    border: 1px solid #e1e1e7;
    box-shadow: 0 1px 6px rgba(150, 150, 150, 0.5);
    -webkit-box-shadow: 0 1px 6px rgba(150, 150, 150, 0.5);
  }
  >.title{
    font-size: 12px;
    margin-bottom: 4px;
    color: #c8c8c8;
  }
}
.dracula .attachment,
.dracula .modal .attachment{
  border-color: #555;
  box-shadow: 0 1px 1px rgba(50, 50, 50, 0.5);
  -webkit-box-shadow: 0 1px 1px rgba(50, 50, 50, 0.5);
  background: #555;
  &:hover{
    box-shadow: 0 1px 1px rgba(50, 50, 50, 0.5);
    -webkit-box-shadow: 0 1px 6px rgba(50, 50, 50, 0.5);
  }
  >.title{
    color: #b8b6b6;
  }
}