@import "variable";
$header-z : 1000;
$nav-z : 999;
$criticalWidth : 1280px;
$searchResultWidth : 400px;
body{
	background :#f1f1f1;
	overflow-x: hidden;
}
@media all and (min-width:$criticalWidth){
	#content-area{
		margin-right: 100px;
	}
}
@mixin subtract-fixed-size($reduce){
	width: calc(100% - #{$reduce});
}
#header{
	display: flex;
	position: fixed;
	top :0;
	left:0;
	background: linear-gradient(to right, #2ABB9B 0%, #b2d27f 100%);
	width: 100%;
	height: 40px;
	color: white;
	box-sizing: border-box;
	z-index:$header-z;
	font-size: 18px;
	#header-wrapper{
		display: flex;
		justify-content: space-between;
		align-items: center;
		flex-shrink: 0;
		flex-grow:1;
		margin-left:410px;
	}
	&.enter-searchResult{
		@extend .state-searchResult;
		#header-wrapper{
			margin-left: 10px;
		}
	}
	#searchBar-wrap{
		position: relative;
		max-width: 300px;
		width: calc(100% - 400px);
		color: white;
		#searchBar{
			border: none;
			background: rgba(41, 156, 125, 0.51);
			border-radius: 20px;
	    	padding: 4px 15px;
	    	margin: 0;
	    	color: white;
	    	&:focus{
		      	font-size: 14px;
	    	}
		}
		.placeholder{
			position:absolute;
			right: 0;
			top:0;
			margin-top: 7px;
			margin-right: 10px;
			font-size: 12px;
			line-height: 1.4;
		}
	}
	#glb{
		font-size: 16px;
		li{
			a{
				display: block;
				width: 100%;
				height:100%;
			}
			float:left;
			display: block;
			width: 35px;
			line-height: 35px;
			margin: 0px 10px;
			border-radius: 20px;
			text-align: center;
			transition: background .2s;
			&:after{
				display: block;
				content:'';
				height:4px;
			}
			&:hover{
				&:after{
					background: rgba(255,255,255,0.5);
				}
			}
		}
	}
	&.ng-enter {
		transform: translateY(-50px);
		transition: all 1s;
		&.ng-enter-active {
			transform: translateY(0);
		}
	}
}
@media (max-width:$criticalWidth){
	#header{
		ul{
			margin-right:100px;
		}
	}
}



#main-nav{
	display: none;
	position: fixed;
	left: 0;
	top:0;
	width: 180px;
	padding-top:50px;
	height: 100%;
	background: #2C3E50;
	z-index: $nav-z;
	&.ng-enter {
		transform: translateX(-100px);
		transition: all 1s;
		&.ng-enter-active {
			transform: translateY(0);
		}
	}
	ul{
		li{
			a{
				display: block;
				width:100%;
				height:100%;
				padding: 18px 30px;
			}
			color:#e1e1e7;
			font-size: 14px;
			line-height: 1em;
			transition: all .2s;
			span{
				&.icon{
					margin-right: 18px;
					font-size:16px;
					color: #3C8090;
				}
			}
			&:hover,
			&.active{
				background: #405B72;
				color: #ffffff;
				span{
					&.icon{
						color:#4BA1B4;
					}
				}
			}
		}
	}
}

#content-area{
	padding:50px 0;
	>#main{
		position:relative;
		width: 600px;
		margin: 20px auto;
		-webkit-user-select: none;
	}
	>#sub{
		float: left;
		width: calc(100% - 720px);
		margin-top: 20px;
		margin-left: 40px;
	}
	>#labeled-container{
		width: 100%;
		padding: 40px 5px;
		$nav-label-width: 150px;
		.aside-label{
			width: $nav-label-width;
			float: left;
			li{
				position: relative;
				display: block;
				height: 60px;
				padding: 0 14px;
				text-align: center;
				transition: all .2s;
				margin-left: 15px;
				line-height: 60px;
				color: #e1e1e7;
				>a{
					display: block;
					width: 100%;
					height: 100%;
				}
				&:hover{
					background: #f1f1f5;
					color: #222;
				}
				&.active{
					background: #fff;
					margin-left: 0;
					color: #2ABB9B;
					&:before{
						display: block;
						content: '';
						position:absolute;
						left: 0;
						top:0;
						height: 100%;
						width: 4px;
						background: #2ABB9B;
					}
				}
			}
		}
		.labeled-contents{
			float: right;
			width: calc(100% - #{$nav-label-width});
			min-height: 400px;
			background: #fff;
			padding: 30px 40px;
		}
	}
	&.ng-enter {
		transform: translateY(50px);
		opacity: 0;
		transition: all 1s;
		&.ng-enter-active {
			opacity: 1;
			transform: translateY(0);
		}
	}
}
#searchResult{
	position: fixed;
	width: 400px;
	height: 100%;
	left: 0;
	top:0;
	z-index: $nav-z;
	background: #fff;
	header{
		background: #4183d7;
		height: $header-height;
		text-align: center;
		line-height: 40px;
		color: white;
        &.loading{
            background: #84B7F9;
        }
	}
	aside{
		float: left;
		width: 100%;
		height: calc(100% - 50px);
		overflow-y: scroll;
		li{
			position: relative;
			display: block;
			cursor: pointer;
			width: 100%;
			padding: 10px 20px;
			border-bottom: 1px solid #e1e1e7;
			overflow: hidden;
			transition: all .2s;
			div.index{
				color: #428bca;
				border-bottom: 1px solid #f1f1f5;
			}
			&.fold{
				height: 96px;
			}
			&:hover,
			&.selected{
				background: #f1f1f5;
				&:before{
					position: absolute;
					background: #4183d7;
					display: block;
					width: 4px;
					height: 100%;
					left:0;
					top:0;
					content: '';
				}
			}
		}
	}
    .search-detail{
        position: fixed;
		.enter-searchResult{
			@extend .state-searchResult;
			background-color: rgba(100,100,100,0.5);
		}
    }
}
.state-searchResult{
	@include subtract-fixed-size($searchResultWidth);
	left: auto;
	right: 0;
}
@media (max-width:$criticalWidth){
	$nav-width: 80px;
	#main-nav{
		width: $nav-width;
		li{
			text-align:center;
			.icon{
				margin:0;
			}
			.desc{
				display:none;
			}
		}
	}
	#header{
		#searchBar-wrap{
			margin-right: 0;
		}
	}
	#content-area{
		>#main{
			left: 30px;
		}
	}
}

/* black theme */
body{
	&.dracula{
		background: #737373;
		#searchResult{
			background: #555;
			header{
				background-color: #7fa3d2;
				&.loading{
					background-color: #98bdec;
				}
			}
			aside{
				li{
					background-color: #4a4a4a;
					border-bottom-color: #797979;
					color: #e1e1e7;
					div.index{
						color: #7fa3d2;
						border-bottom-color: #797979;
					}
					&:hover:before,
					&.selected:before{
						background: #7fa3d2;
					}
				}
			}
		}
	}
}