body {
  background: #f1f1f1;
  overflow-x: hidden; }

@media all and (min-width: 1280px) {
  #content-area {
    margin-right: 100px; } }
#header {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  background: linear-gradient(to right, #2ABB9B 0%, #b2d27f 100%);
  width: 100%;
  height: 40px;
  color: white;
  box-sizing: border-box;
  z-index: 1000;
  font-size: 18px; }
  #header #header-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-shrink: 0;
    flex-grow: 1;
    margin-left: 410px; }
  #header.enter-searchResult #header-wrapper {
    margin-left: 10px; }
  #header #searchBar-wrap {
    position: relative;
    max-width: 300px;
    width: calc(100% - 400px);
    color: white; }
    #header #searchBar-wrap #searchBar {
      border: none;
      background: rgba(41, 156, 125, 0.51);
      border-radius: 20px;
      padding: 4px 15px;
      margin: 0;
      color: white; }
      #header #searchBar-wrap #searchBar:focus {
        font-size: 14px; }
    #header #searchBar-wrap .placeholder {
      position: absolute;
      right: 0;
      top: 0;
      margin-top: 7px;
      margin-right: 10px;
      font-size: 12px;
      line-height: 1.4; }
  #header #glb {
    font-size: 16px; }
    #header #glb li {
      float: left;
      display: block;
      width: 35px;
      line-height: 35px;
      margin: 0px 10px;
      border-radius: 20px;
      text-align: center;
      transition: background .2s; }
      #header #glb li a {
        display: block;
        width: 100%;
        height: 100%; }
      #header #glb li:after {
        display: block;
        content: '';
        height: 4px; }
      #header #glb li:hover:after {
        background: rgba(255, 255, 255, 0.5); }
  #header.ng-enter {
    transform: translateY(-50px);
    transition: all 1s; }
    #header.ng-enter.ng-enter-active {
      transform: translateY(0); }

@media (max-width: 1280px) {
  #header ul {
    margin-right: 100px; } }
#main-nav {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  width: 180px;
  padding-top: 50px;
  height: 100%;
  background: #2C3E50;
  z-index: 999; }
  #main-nav.ng-enter {
    transform: translateX(-100px);
    transition: all 1s; }
    #main-nav.ng-enter.ng-enter-active {
      transform: translateY(0); }
  #main-nav ul li {
    color: #e1e1e7;
    font-size: 14px;
    line-height: 1em;
    transition: all .2s; }
    #main-nav ul li a {
      display: block;
      width: 100%;
      height: 100%;
      padding: 18px 30px; }
    #main-nav ul li span.icon {
      margin-right: 18px;
      font-size: 16px;
      color: #3C8090; }
    #main-nav ul li:hover, #main-nav ul li.active {
      background: #405B72;
      color: #ffffff; }
      #main-nav ul li:hover span.icon, #main-nav ul li.active span.icon {
        color: #4BA1B4; }

#content-area {
  padding: 50px 0; }
  #content-area > #main {
    position: relative;
    width: 600px;
    margin: 20px auto;
    -webkit-user-select: none; }
  #content-area > #sub {
    float: left;
    width: calc(100% - 720px);
    margin-top: 20px;
    margin-left: 40px; }
  #content-area > #labeled-container {
    width: 100%;
    padding: 40px 5px; }
    #content-area > #labeled-container .aside-label {
      width: 150px;
      float: left; }
      #content-area > #labeled-container .aside-label li {
        position: relative;
        display: block;
        height: 60px;
        padding: 0 14px;
        text-align: center;
        transition: all .2s;
        margin-left: 15px;
        line-height: 60px;
        color: #e1e1e7; }
        #content-area > #labeled-container .aside-label li > a {
          display: block;
          width: 100%;
          height: 100%; }
        #content-area > #labeled-container .aside-label li:hover {
          background: #f1f1f5;
          color: #222; }
        #content-area > #labeled-container .aside-label li.active {
          background: #fff;
          margin-left: 0;
          color: #2ABB9B; }
          #content-area > #labeled-container .aside-label li.active:before {
            display: block;
            content: '';
            position: absolute;
            left: 0;
            top: 0;
            height: 100%;
            width: 4px;
            background: #2ABB9B; }
    #content-area > #labeled-container .labeled-contents {
      float: right;
      width: calc(100% - 150px);
      min-height: 400px;
      background: #fff;
      padding: 30px 40px; }
  #content-area.ng-enter {
    transform: translateY(50px);
    opacity: 0;
    transition: all 1s; }
    #content-area.ng-enter.ng-enter-active {
      opacity: 1;
      transform: translateY(0); }

#searchResult {
  position: fixed;
  width: 400px;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 999;
  background: #fff; }
  #searchResult header {
    background: #4183d7;
    height: 40px;
    text-align: center;
    line-height: 40px;
    color: white; }
    #searchResult header.loading {
      background: #84B7F9; }
  #searchResult aside {
    float: left;
    width: 100%;
    height: calc(100% - 50px);
    overflow-y: scroll; }
    #searchResult aside li {
      position: relative;
      display: block;
      cursor: pointer;
      width: 100%;
      padding: 10px 20px;
      border-bottom: 1px solid #e1e1e7;
      overflow: hidden;
      transition: all .2s; }
      #searchResult aside li div.index {
        color: #428bca;
        border-bottom: 1px solid #f1f1f5; }
      #searchResult aside li.fold {
        height: 96px; }
      #searchResult aside li:hover, #searchResult aside li.selected {
        background: #f1f1f5; }
        #searchResult aside li:hover:before, #searchResult aside li.selected:before {
          position: absolute;
          background: #4183d7;
          display: block;
          width: 4px;
          height: 100%;
          left: 0;
          top: 0;
          content: ''; }
  #searchResult .search-detail {
    position: fixed; }
    #searchResult .search-detail .enter-searchResult {
      background-color: rgba(100, 100, 100, 0.5); }

.state-searchResult, #header.enter-searchResult, #searchResult .search-detail .enter-searchResult {
  width: calc(100% - 400px);
  left: auto;
  right: 0; }

@media (max-width: 1280px) {
  #main-nav {
    width: 80px; }
    #main-nav li {
      text-align: center; }
      #main-nav li .icon {
        margin: 0; }
      #main-nav li .desc {
        display: none; }

  #header #searchBar-wrap {
    margin-right: 0; }

  #content-area > #main {
    left: 30px; } }
/* black theme */
body.dracula {
  background: #737373; }
  body.dracula #searchResult {
    background: #555; }
    body.dracula #searchResult header {
      background-color: #7fa3d2; }
      body.dracula #searchResult header.loading {
        background-color: #98bdec; }
    body.dracula #searchResult aside li {
      background-color: #4a4a4a;
      border-bottom-color: #797979;
      color: #e1e1e7; }
      body.dracula #searchResult aside li div.index {
        color: #7fa3d2;
        border-bottom-color: #797979; }
      body.dracula #searchResult aside li:hover:before, body.dracula #searchResult aside li.selected:before {
        background: #7fa3d2; }

/*# sourceMappingURL=layout.css.map */
