$header-z : 1000;
$nav-z : 999;
body{
	background :#f1f1f1;
	overflow-x: hidden;
}
#body{
	// position: relative;
}
@media all and (min-width:1280px){	
	#content-area{
		margin-right: 100px;
	}
}
#header{
	position: fixed;
	top :0;
	left:0;
	background: #2ABB9B;
	width: 100%;
	height: 50px;
	color: white;
	box-sizing: border-box;
	padding: 5px 10px;
	line-height : 30px;
	z-index:$header-z;
	font-size: 18px;
	#searchBar-wrap{
		position: relative;
		display: inline-block;
		margin-left: 110px;
		margin-top: 4px;
		max-width: 300px;
		width: calc(100% - 400px);
		color: white;
		#searchBar{
			border: none;
			background: #299C7D;
			border-radius: 20px;
	    	padding: 6px 15px;
	    	margin: 0;
	    	color: white;
	    	&:focus{
		      	font-size: 14px;
	    	}
		}
		.placeholder{
			position:absolute;
			right: 0;
			top:0;
			margin-top: 7px;
			margin-right: 10px;
			font-size: 12px;
			line-height: 1.4;
		}
	}
	ul{
		float: right;
		li{
			a{
				display: block;
				width: 100%;
				height:100%;
			}
			float:left;
			display: block;
			width: 35px;
			line-height: 35px;
			margin: 0px 10px;
			border-radius: 20px;
			text-align: center;
			transition: background .2s;
			&:hover{
				background: #68C3A3;
			}
		}
	}
	&.ng-enter {
		transform: translateY(-50px);
		transition: all 1s;
		&.ng-enter-active {
			transform: translateY(0);
		}
	}
}
@media (max-width:950px){
	#header{
		ul{
			margin-right:100px;
		}
	}
}



#main-nav{
	position: fixed;
	left: 0;
	top:0;
	width: 180px;
	padding-top:50px;
	height: 100%;
	background: #2C3E50;
	z-index: $nav-z;
	&.ng-enter {
		transform: translateX(-100px);
		transition: all 1s;
		&.ng-enter-active {
			transform: translateY(0);
		}
	}
	ul{
		li{
			a{
				display: block;
				width:100%;
				height:100%;
				padding: 18px 30px;
			}
			color:#e1e1e7;
			font-size: 14px;
			line-height: 1em;
			transition: all .2s;
			span{
				&.icon{
					margin-right: 18px;
					font-size:16px;
					color: #3C8090;
				}
			}
			&:hover,
			&.active{
				background: #405B72;
				color: #ffffff;
				span{
					&.icon{
						color:#4BA1B4;
					}
				}
			}
		}
	}
}

#content-area{
	height: 100%;
	padding:50px 0 0 0;
	background: #f1f1f1;
	>#main{
		position:relative;
		width: 600px;
		margin: 20px 40px;
		float: right;
		-webkit-user-select: none;
	}
	>#sub{
		float: left;
		width: calc(100% - 720px);
		margin-top: 20px;
		margin-left: 40px;
	}
	&.ng-enter {
		transform: scale(0.8);
		opacity: 0;
		transition: all 1s;
		&.ng-enter-active {
			transform: scale(1);
			opacity: 1;
		}
	}
}
#searchResult{
	position: fixed;
	width: calc(100% - 200px);
	height: 224px;
	left: 140px;
	bottom: 0;
	background: #fff;
	aside{
		float: left;
		width: 200px;
		height: 100%;
		overflow-y: scroll;
		li{
			display: block;
			width: 100%;
			height: 40px;
			oveflow: hidden;
		}
	}
}
@media (max-width:950px){
	#main-nav{
		width: 80px;
		li{
			text-align:center;
			.icon{
				margin:0;
			}
			.desc{
				display:none;
			}
		}
	}
}