.wallpaper{
  position: fixed;
  width: 100%;
  height: 100%;
  top:0;
  left:0;
  transform: rotate(20deg) scale(2);
  background: linear-gradient(to right, #ffc53b 0%, #ec98af 100%);
  &.ng-leave {
    opacity: 1;
    transition: all 1s;
    &.ng-leave-active {
      opacity: 0;
      transform: translateY(-100%);
    }
  }
  &.ng-enter {
    opacity: 0;
    transition: all 1s;
    transform: rotate(0deg) scale(1) translateY(-100%);
    &.ng-enter-active {
      opacity: 1;
      transform: rotate(20deg) scale(2) translateY(0%);
    }
  }
}

#signForm{
  min-width: 240px;
  padding: 30px 32px;
  background: linear-gradient(to bottom, rgba(255,255,255,0.2) 0%, rgba(255,255,255,0.1) 100%);
  ::-webkit-input-placeholder{
    color: #fff;
  }
  &.fixed{
    width:300px;
    position: fixed;
    top:30%;
    left:50%;
    margin-left:-150px;
    border-radius: 0;
  }
  hr.or{
    margin:20px 0;
    padding: 0;
    border: none;
    border-bottom: 1px solid #e1e1e7;
    background: #999;
    text-align: center;
    position: relative;
    color: #ccc;
    &:after{
      display: block;
      position: absolute;
      left: 50%;
      top: -1em;
      margin-left: -1em;
      width: 20px;
      height: 20px;
      border-radius: 20px;
      border: 1px solid #e1e1e7;
      content: 'or';
      font-size: 0.5em;
      line-height: 1.7em;
      background: #ffffff;
    }

  }
  &.ng-leave {
    opacity: 1;
    transition: all 1s;
    &.ng-leave-active {
      opacity: 0;
      transform: translateY(-100%);
    }
  }
  &.ng-enter {
    opacity: 0;
    transition: all 1s;
    transform: translateY(-100%);
    &.ng-enter-active {
      opacity: 1;
      transform: translateY(0%);
    }
  }
}
.popover{
  #signForm{
    padding: 20px;
  }
}