.sin-editor {
@import "component.scss";
	position: relative;
	.sin-editor-default,
	.sin-editor-inline,
	.sin-editor-default-edit{
		min-height: 90px;
		-webkit-user-select: initial;
      		padding: 16px 20px 26px;
      		font-size: 14px;
      		&::selection,
      		*::selection {
        			background: #fff2a8;
      		}
	}
	[contenteditable="true"] {
		&:focus {
			border: none;
			outline: none;
		}
		&::selection {
			background: #fff2a8;
		}
	}
	.sin-editor-footer{
		position: relative;
		display: flex;
		justify-content: flex-end;
	}
	.sin-editor-default + .sin-editor-footer,
	.sin-editor-default-edit + .sin-editor-footer{
		display: flex;
		justify-content: flex-end;
		align-items: center;
		border-top: 1px solid #f1f1f5;
		text-align: right;
		padding: 6px 15px;
		&+.file-list{
			padding: 5px 20px;
			font-size: 12px;
			color: #999;
			text-align: right;
			&.empty{
				padding: 0 !important;
			}
			.removed{
				text-decoration: line-through;
			}
		}
	}
	.sin-editor-default + .sin-editor-footer,
	.sin-editor-inline +  .sin-editor-footer,
	.sin-editor-inline-edit +  .sin-editor-footer{
		button {
			@extend .btn-primary;
			width: 100px;
		}
		a:hover, &+* a:hover{
			color: #2ABB9B !important;
		}
	}
	.sin-editor-default-edit + .sin-editor-footer{
		button{
			@extend .btn-warning;
			width: 100px;
		}
		a:hover, &+* a:hover{
			color: #F9BF3B !important;
		}
	}
	.sin-editor-inline {
		width: calc(100% - 55px);
		margin-right: 5px;
		&+.sin-editor-footer{
			width : 45px;
			.btn{
				@extend .btn-primary, .btn-transparent, .btn-block, .btn-sm;
			}
			&+.file-list{
				padding: 5px 20px;
				font-size: 12px;
				color: #999;
				text-align: right;
				&.empty{
					padding: 0 !important;
				}
				.removed{
					text-decoration: line-through;
				}
			}
		}
	}
	.sin-editor-inline-edit {
		float: left;
		width: calc(100% - 55px);
		margin-right: 5px;
		&+.sin-editor-footer{
			float: left;
			width : 45px;
			.btn{
				@extend .btn-primary, .btn-transparent, .btn-block, .btn-sm;
			}
		}
	}
	&::before,
	&::after{
		display:block;
		content:"";
		clear:both;
	}
}
.hash-input {
	border: none;
	outline: none;
	line-height: 1.2;
	&.readonly {
		padding: 1px 4px;
		border-bottom: 2px solid #F9BF3B;
		background: #F9BF3B;
		color: white;
		border-radius: 2px;
		margin: 1px 2px;
		-webkit-user-select: none;
		&.hash-refer{
			border-bottom: 2px solid #F9BF3B;
			background: #F9BF3B;
		}
		&.hash-stuff{
			border-bottom: 2px solid #4183D7;
			background: #4183D7;
		}
	}
}

#hash-form {
	display: inline-block;
}
