.sin-editor {
  /**
   * card style
   */
  /* news card style in modal context */
  /* black theme */
  position: relative; }
  .sin-editor input {
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    border-radius: 0;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border: none;
    line-height: 1; }
    .sin-editor input:focus {
      border: none;
      outline: none; }
    .sin-editor input.form-input {
      padding: 5px 8px;
      font-size: 14px;
      width: 100%;
      border-bottom: 1px solid #e1e1e7;
      margin-bottom: 10px;
      transition: border .2s; }
      .sin-editor input.form-input:focus {
        border-bottom: 1px solid #4d92e7;
        font-size: 16px;
        margin-bottom: 10px; }
      .sin-editor input.form-input.lg {
        height: 40px; }
      .sin-editor input.form-input.transparent {
        background: transparent; }
      .sin-editor input.form-input.primary:focus {
        border-bottom: 1px solid #2ABB9B;
        font-size: 16px; }
  .sin-editor button, .sin-editor input[type="submit"], .sin-editor input[type="button"] {
    cursor: pointer;
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    border-radius: 0;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border: none; }
    .sin-editor button.btn, .sin-editor input[type="submit"].btn, .sin-editor input[type="button"].btn {
      border-radius: 2px;
      padding: 8px 5px;
      height: 28px;
      font-size: 12px;
      line-height: 0.8; }
      .sin-editor button.btn.btn-lg, .sin-editor input[type="submit"].btn.btn-lg, .sin-editor input[type="button"].btn.btn-lg {
        height: 36px; }
      .sin-editor button.btn.btn-sm, .sin-editor .sin-editor-inline + .sin-editor-footer button.btn, .sin-editor .sin-editor-inline-edit + .sin-editor-footer button.btn, .sin-editor input[type="submit"].btn.btn-sm, .sin-editor .sin-editor-inline + .sin-editor-footer input[type="submit"].btn, .sin-editor .sin-editor-inline-edit + .sin-editor-footer input[type="submit"].btn, .sin-editor input[type="button"].btn.btn-sm, .sin-editor .sin-editor-inline + .sin-editor-footer input[type="button"].btn, .sin-editor .sin-editor-inline-edit + .sin-editor-footer input[type="button"].btn {
        height: 26px;
        line-height: 0.8;
        font-size: 12px; }
      .sin-editor button.btn.btn-block, .sin-editor .sin-editor-inline + .sin-editor-footer button.btn, .sin-editor .sin-editor-inline-edit + .sin-editor-footer button.btn, .sin-editor input[type="submit"].btn.btn-block, .sin-editor .sin-editor-inline + .sin-editor-footer input[type="submit"].btn, .sin-editor .sin-editor-inline-edit + .sin-editor-footer input[type="submit"].btn, .sin-editor input[type="button"].btn.btn-block, .sin-editor .sin-editor-inline + .sin-editor-footer input[type="button"].btn, .sin-editor .sin-editor-inline-edit + .sin-editor-footer input[type="button"].btn {
        display: block;
        width: 100%; }
      .sin-editor button.btn.btn-transparent, .sin-editor .sin-editor-inline + .sin-editor-footer button.btn, .sin-editor .sin-editor-inline-edit + .sin-editor-footer button.btn, .sin-editor input[type="submit"].btn.btn-transparent, .sin-editor .sin-editor-inline + .sin-editor-footer input[type="submit"].btn, .sin-editor .sin-editor-inline-edit + .sin-editor-footer input[type="submit"].btn, .sin-editor input[type="button"].btn.btn-transparent, .sin-editor .sin-editor-inline + .sin-editor-footer input[type="button"].btn, .sin-editor .sin-editor-inline-edit + .sin-editor-footer input[type="button"].btn {
        background: transparent !important;
        border: transparent !important; }
      .sin-editor button.btn.btn-default, .sin-editor input[type="submit"].btn.btn-default, .sin-editor input[type="button"].btn.btn-default {
        background: #ffffff;
        border: 1px solid #e1e1e7;
        transition: background .2s;
        color: #232323; }
        .sin-editor button.btn.btn-default:hover, .sin-editor input[type="submit"].btn.btn-default:hover, .sin-editor input[type="button"].btn.btn-default:hover {
          background: #f1f1f5;
          border-bottom: 1px solid #d4d4da; }
        .sin-editor button.btn.btn-default.btn-transparent, .sin-editor .sin-editor-inline + .sin-editor-footer button.btn.btn-default, .sin-editor .sin-editor-inline-edit + .sin-editor-footer button.btn.btn-default, .sin-editor input[type="submit"].btn.btn-default.btn-transparent, .sin-editor .sin-editor-inline + .sin-editor-footer input[type="submit"].btn.btn-default, .sin-editor .sin-editor-inline-edit + .sin-editor-footer input[type="submit"].btn.btn-default, .sin-editor input[type="button"].btn.btn-default.btn-transparent, .sin-editor .sin-editor-inline + .sin-editor-footer input[type="button"].btn.btn-default, .sin-editor .sin-editor-inline-edit + .sin-editor-footer input[type="button"].btn.btn-default {
          color: #232323; }
      .sin-editor button.btn.btn-primary, .sin-editor .sin-editor-default + .sin-editor-footer button.btn,
      .sin-editor .sin-editor-inline + .sin-editor-footer button.btn,
      .sin-editor .sin-editor-inline-edit + .sin-editor-footer button.btn, .sin-editor input[type="submit"].btn.btn-primary, .sin-editor .sin-editor-inline + .sin-editor-footer input[type="submit"].btn, .sin-editor .sin-editor-inline-edit + .sin-editor-footer input[type="submit"].btn, .sin-editor input[type="button"].btn.btn-primary, .sin-editor .sin-editor-inline + .sin-editor-footer input[type="button"].btn, .sin-editor .sin-editor-inline-edit + .sin-editor-footer input[type="button"].btn {
        background: #62c48f;
        transition: background .2s;
        color: #fff; }
        .sin-editor button.btn.btn-primary:hover, .sin-editor .sin-editor-default + .sin-editor-footer button.btn:hover,
        .sin-editor .sin-editor-inline + .sin-editor-footer button.btn:hover,
        .sin-editor .sin-editor-inline-edit + .sin-editor-footer button.btn:hover, .sin-editor input[type="submit"].btn.btn-primary:hover, .sin-editor .sin-editor-inline + .sin-editor-footer input[type="submit"].btn:hover, .sin-editor .sin-editor-inline-edit + .sin-editor-footer input[type="submit"].btn:hover, .sin-editor input[type="button"].btn.btn-primary:hover, .sin-editor .sin-editor-inline + .sin-editor-footer input[type="button"].btn:hover, .sin-editor .sin-editor-inline-edit + .sin-editor-footer input[type="button"].btn:hover {
          background: #62a782; }
        .sin-editor button.btn.btn-primary:disabled, .sin-editor .sin-editor-default + .sin-editor-footer button.btn:disabled,
        .sin-editor .sin-editor-inline + .sin-editor-footer button.btn:disabled,
        .sin-editor .sin-editor-inline-edit + .sin-editor-footer button.btn:disabled, .sin-editor input[type="submit"].btn.btn-primary:disabled, .sin-editor .sin-editor-inline + .sin-editor-footer input[type="submit"].btn:disabled, .sin-editor .sin-editor-inline-edit + .sin-editor-footer input[type="submit"].btn:disabled, .sin-editor input[type="button"].btn.btn-primary:disabled, .sin-editor .sin-editor-inline + .sin-editor-footer input[type="button"].btn:disabled, .sin-editor .sin-editor-inline-edit + .sin-editor-footer input[type="button"].btn:disabled {
          background-color: #30ddba !important;
          border-color: #30ddba !important; }
        .sin-editor button.btn.btn-primary.btn-transparent, .sin-editor .sin-editor-default + .sin-editor-footer button.btn.btn-transparent,
        .sin-editor .sin-editor-inline + .sin-editor-footer button.btn,
        .sin-editor .sin-editor-inline-edit + .sin-editor-footer button.btn, .sin-editor input[type="submit"].btn.btn-primary.btn-transparent, .sin-editor .sin-editor-inline + .sin-editor-footer input[type="submit"].btn, .sin-editor .sin-editor-inline-edit + .sin-editor-footer input[type="submit"].btn, .sin-editor input[type="button"].btn.btn-primary.btn-transparent, .sin-editor .sin-editor-inline + .sin-editor-footer input[type="button"].btn, .sin-editor .sin-editor-inline-edit + .sin-editor-footer input[type="button"].btn {
          color: #2ABB9B; }
      .sin-editor button.btn.btn-warning, .sin-editor .sin-editor-default-edit + .sin-editor-footer button.btn, .sin-editor input[type="submit"].btn.btn-warning, .sin-editor input[type="button"].btn.btn-warning {
        background: #F9BF3B;
        border: 1px solid #eeb43b;
        transition: background .2s;
        color: #fff; }
        .sin-editor button.btn.btn-warning:hover, .sin-editor .sin-editor-default-edit + .sin-editor-footer button.btn:hover, .sin-editor input[type="submit"].btn.btn-warning:hover, .sin-editor input[type="button"].btn.btn-warning:hover {
          background: #eeb43b;
          border-bottom: 1px solid #e1a839; }
        .sin-editor button.btn.btn-warning:disabled, .sin-editor .sin-editor-default-edit + .sin-editor-footer button.btn:disabled, .sin-editor input[type="submit"].btn.btn-warning:disabled, .sin-editor input[type="button"].btn.btn-warning:disabled {
          background-color: #ffc53b !important;
          border-color: #ffc53b !important; }
        .sin-editor button.btn.btn-warning.btn-transparent, .sin-editor .sin-editor-default-edit + .sin-editor-footer button.btn.btn-transparent, .sin-editor .sin-editor-default-edit + .sin-editor-footer .sin-editor-inline + .sin-editor-footer button.btn, .sin-editor .sin-editor-inline + .sin-editor-footer .sin-editor-default-edit + .sin-editor-footer button.btn, .sin-editor .sin-editor-default-edit + .sin-editor-footer .sin-editor-inline-edit + .sin-editor-footer button.btn, .sin-editor .sin-editor-inline-edit + .sin-editor-footer .sin-editor-default-edit + .sin-editor-footer button.btn, .sin-editor .sin-editor-inline + .sin-editor-footer button.btn.btn-warning, .sin-editor .sin-editor-inline-edit + .sin-editor-footer button.btn.btn-warning, .sin-editor input[type="submit"].btn.btn-warning.btn-transparent, .sin-editor .sin-editor-inline + .sin-editor-footer input[type="submit"].btn.btn-warning, .sin-editor .sin-editor-inline-edit + .sin-editor-footer input[type="submit"].btn.btn-warning, .sin-editor input[type="button"].btn.btn-warning.btn-transparent, .sin-editor .sin-editor-inline + .sin-editor-footer input[type="button"].btn.btn-warning, .sin-editor .sin-editor-inline-edit + .sin-editor-footer input[type="button"].btn.btn-warning {
          color: #f9bf3b; }
      .sin-editor button.btn.btn-info, .sin-editor input[type="submit"].btn.btn-info, .sin-editor input[type="button"].btn.btn-info {
        background: #699AE4;
        border: 1px solid #568FE4;
        transition: background .2s;
        color: #fff; }
        .sin-editor button.btn.btn-info:hover, .sin-editor input[type="submit"].btn.btn-info:hover, .sin-editor input[type="button"].btn.btn-info:hover {
          background: #568FE4;
          border-bottom: 1px solid #4878BF; }
        .sin-editor button.btn.btn-info:disabled, .sin-editor input[type="submit"].btn.btn-info:disabled, .sin-editor input[type="button"].btn.btn-info:disabled {
          background-color: #A1C6FF !important;
          border-color: #BCD4F9 !important; }
        .sin-editor button.btn.btn-info.btn-transparent, .sin-editor .sin-editor-inline + .sin-editor-footer button.btn.btn-info, .sin-editor .sin-editor-inline-edit + .sin-editor-footer button.btn.btn-info, .sin-editor input[type="submit"].btn.btn-info.btn-transparent, .sin-editor .sin-editor-inline + .sin-editor-footer input[type="submit"].btn.btn-info, .sin-editor .sin-editor-inline-edit + .sin-editor-footer input[type="submit"].btn.btn-info, .sin-editor input[type="button"].btn.btn-info.btn-transparent, .sin-editor .sin-editor-inline + .sin-editor-footer input[type="button"].btn.btn-info, .sin-editor .sin-editor-inline-edit + .sin-editor-footer input[type="button"].btn.btn-info {
          color: #568FE4; }
      .sin-editor button.btn.btn-danger, .sin-editor input[type="submit"].btn.btn-danger, .sin-editor input[type="button"].btn.btn-danger {
        background: #E2747D;
        border: 1px solid #d08a8b;
        transition: background .2s;
        color: #fff; }
        .sin-editor button.btn.btn-danger:hover, .sin-editor input[type="submit"].btn.btn-danger:hover, .sin-editor input[type="button"].btn.btn-danger:hover {
          background: #c06062;
          border-bottom: 1px solid #c06062; }
        .sin-editor button.btn.btn-danger:disabled, .sin-editor input[type="submit"].btn.btn-danger:disabled, .sin-editor input[type="button"].btn.btn-danger:disabled {
          background-color: #f98486 !important;
          border-color: #f98486 !important; }
        .sin-editor button.btn.btn-danger.btn-transparent, .sin-editor .sin-editor-inline + .sin-editor-footer button.btn.btn-danger, .sin-editor .sin-editor-inline-edit + .sin-editor-footer button.btn.btn-danger, .sin-editor input[type="submit"].btn.btn-danger.btn-transparent, .sin-editor .sin-editor-inline + .sin-editor-footer input[type="submit"].btn.btn-danger, .sin-editor .sin-editor-inline-edit + .sin-editor-footer input[type="submit"].btn.btn-danger, .sin-editor input[type="button"].btn.btn-danger.btn-transparent, .sin-editor .sin-editor-inline + .sin-editor-footer input[type="button"].btn.btn-danger, .sin-editor .sin-editor-inline-edit + .sin-editor-footer input[type="button"].btn.btn-danger {
          color: #c06062; }
      .sin-editor button.btn .glyphicons, .sin-editor input[type="submit"].btn .glyphicons, .sin-editor input[type="button"].btn .glyphicons {
        margin-left: .3em;
        margin-top: -.2em;
        margin-right: .3em; }
  .sin-editor .popover-container {
    position: relative;
    display: block;
    clear: both; }
    .sin-editor .popover-container.top {
      top: 0px; }
      .sin-editor .popover-container.top .popover {
        align-items: flex-end;
        left: 50%; }
        .sin-editor .popover-container.top .popover .arrow {
          left: 50%;
          margin-left: -11px;
          border-bottom-width: 0;
          border-top-color: #999999;
          border-top-color: rgba(0, 0, 0, 0.25);
          bottom: -10px; }
          .sin-editor .popover-container.top .popover .arrow:after {
            content: " ";
            bottom: 2px;
            margin-left: -10px;
            border-bottom-width: 0;
            border-top-color: #fff; }
        .sin-editor .popover-container.top .popover .popover-tmpl {
          position: relative;
          transform: translate(-50%, 0%); }
    .sin-editor .popover-container.right {
      top: 50%;
      left: 10px; }
      .sin-editor .popover-container.right .popover {
        align-items: flex-start;
        left: 100%; }
        .sin-editor .popover-container.right .popover .arrow {
          top: 50%;
          left: -11px;
          margin-top: -11px;
          border-left-width: 0;
          border-right-color: #999999;
          border-right-color: rgba(0, 0, 0, 0.25); }
          .sin-editor .popover-container.right .popover .arrow:after {
            content: " ";
            left: 1px;
            bottom: -10px;
            border-left-width: 0;
            border-right-color: #fff; }
        .sin-editor .popover-container.right .popover .popover-tmpl {
          position: relative;
          transform: translate(0%, -50%); }
    .sin-editor .popover-container.bottom {
      top: 10px; }
      .sin-editor .popover-container.bottom .popover {
        align-items: flex-start;
        left: 50%; }
        .sin-editor .popover-container.bottom .popover .arrow {
          left: 50%;
          margin-left: -11px;
          border-top-width: 0;
          border-bottom-color: #999999;
          border-bottom-color: rgba(0, 0, 0, 0.25);
          top: -11px;
          margin-top: 1px; }
          .sin-editor .popover-container.bottom .popover .arrow:after {
            content: " ";
            top: 1px;
            margin-left: -10px;
            border-top-width: 0;
            border-bottom-color: #fff; }
        .sin-editor .popover-container.bottom .popover .popover-tmpl {
          position: relative;
          transform: translate(-50%, 0%); }
    .sin-editor .popover-container.left {
      top: 50%;
      right: 10px; }
      .sin-editor .popover-container.left .popover {
        align-items: flex-start;
        left: 0%; }
        .sin-editor .popover-container.left .popover .arrow {
          top: 50%;
          right: -11px;
          margin-top: -11px;
          border-right-width: 0;
          border-left-color: #999999;
          border-left-color: rgba(0, 0, 0, 0.25); }
          .sin-editor .popover-container.left .popover .arrow:after {
            content: " ";
            right: 1px;
            border-right-width: 0;
            border-left-color: #fff;
            bottom: -10px; }
        .sin-editor .popover-container.left .popover .popover-tmpl {
          position: relative;
          transform: translate(-100%, -50%); }
    .sin-editor .popover-container.bottom-left {
      top: 10px; }
      .sin-editor .popover-container.bottom-left .popover {
        align-items: flex-start;
        left: 100%; }
        .sin-editor .popover-container.bottom-left .popover .arrow {
          right: 1px;
          margin-left: -11px;
          border-top-width: 0;
          border-bottom-color: #999999;
          border-bottom-color: rgba(0, 0, 0, 0.25);
          top: -11px;
          margin-top: 1px; }
          .sin-editor .popover-container.bottom-left .popover .arrow:after {
            content: " ";
            top: 1px;
            margin-left: -10px;
            border-top-width: 0;
            border-bottom-color: #fff; }
        .sin-editor .popover-container.bottom-left .popover .popover-tmpl {
          position: relative;
          transform: translate(-100%, 0%); }
    .sin-editor .popover-container.bottom-right {
      top: 10px; }
      .sin-editor .popover-container.bottom-right .popover {
        align-items: flex-start;
        left: 0%; }
        .sin-editor .popover-container.bottom-right .popover .arrow {
          left: 1px;
          border-top-width: 0;
          border-bottom-color: #999999;
          border-bottom-color: rgba(0, 0, 0, 0.25);
          top: -11px;
          margin-top: 1px; }
          .sin-editor .popover-container.bottom-right .popover .arrow:after {
            content: " ";
            top: 1px;
            margin-left: -10px;
            border-top-width: 0;
            border-bottom-color: #fff; }
        .sin-editor .popover-container.bottom-right .popover .popover-tmpl {
          position: relative;
          transform: translate(0%, 0%); }
    .sin-editor .popover-container.top-left {
      top: 0px; }
      .sin-editor .popover-container.top-left .popover {
        align-items: flex-end;
        left: 100%; }
        .sin-editor .popover-container.top-left .popover .arrow {
          right: 1px;
          margin-left: -11px;
          border-bottom-width: 0;
          border-top-color: #999999;
          border-top-color: rgba(0, 0, 0, 0.25);
          bottom: -10px; }
          .sin-editor .popover-container.top-left .popover .arrow:after {
            content: " ";
            bottom: 2px;
            margin-left: -10px;
            border-bottom-width: 0;
            border-top-color: #fff; }
        .sin-editor .popover-container.top-left .popover .popover-tmpl {
          position: relative;
          transform: translate(-100%, 0%); }
    .sin-editor .popover-container.top-right {
      top: 0px; }
      .sin-editor .popover-container.top-right .popover {
        align-items: flex-end;
        left: 0%; }
        .sin-editor .popover-container.top-right .popover .arrow {
          left: 1px;
          border-bottom-width: 0;
          border-top-color: #999999;
          border-top-color: rgba(0, 0, 0, 0.25);
          bottom: -10px; }
          .sin-editor .popover-container.top-right .popover .arrow:after {
            content: " ";
            bottom: 2px;
            margin-left: -10px;
            border-bottom-width: 0;
            border-top-color: #fff; }
        .sin-editor .popover-container.top-right .popover .popover-tmpl {
          position: relative;
          transform: translate(0%, 0%); }
  .sin-editor .popover {
    position: relative;
    width: 0;
    height: 0;
    display: flex;
    z-index: 999; }
    .sin-editor .popover .popover-tmpl {
      background: #fff;
      border: 1px solid #e1e1e7;
      border-bottom: 2px solid #e1e1e7;
      border-radius: 0;
      box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
      -webkit-box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
      color: #222;
      font-size: 14px; }
    .sin-editor .popover > .arrow {
      border-width: 11px;
      z-index: 1; }
      .sin-editor .popover > .arrow, .sin-editor .popover > .arrow:after {
        position: absolute;
        display: block;
        width: 0;
        height: 0;
        border-color: transparent;
        border-style: solid; }
      .sin-editor .popover > .arrow:after {
        border-width: 10px;
        content: ""; }
  .sin-editor .card {
    position: relative;
    border-radius: 2px;
    margin-bottom: 20px;
    -webkit-user-select: none;
    border-left: 0px solid transparent;
    transition: all .2s; }
    .sin-editor .card.card-default {
      background: #ffffff;
      border-bottom: 2px solid #e1e1e7; }
      .sin-editor .card.card-default .title {
        padding: 5px 3px;
        margin: 0 10px;
        border-bottom: 1px solid #f1f1f5;
        color: #e1e1e7; }
        .sin-editor .card.card-default .title a.options {
          cursor: pointer;
          color: #e1e1e7;
          transition: all .2s; }
          .sin-editor .card.card-default .title a.options:hover, .sin-editor .card.card-default .title a.options.active {
            color: #c1c1c7; }
      .sin-editor .card.card-default .body {
        -webkit-user-select: initial;
        padding: 12px 20px 26px; }
        .sin-editor .card.card-default .body .file-list {
          margin-bottom: 5px;
          font-size: 12px;
          text-align: right;
          color: #999; }
        .sin-editor .card.card-default .body::selection,
        .sin-editor .card.card-default .body *::selection {
          background: #fff2a8; }
        .sin-editor .card.card-default .body [contenteditable="true"] {
          background: #fff2a8; }
          .sin-editor .card.card-default .body [contenteditable="true"]:focus {
            background: none !important; }
          .sin-editor .card.card-default .body [contenteditable="true"]::selection {
            background: #fff2a8; }
      .sin-editor .card.card-default.card-in-action .body {
        padding: 0; }
        .sin-editor .card.card-default.card-in-action .body .file-list {
          margin-bottom: 0; }
      .sin-editor .card.card-default .comments {
        -webkit-user-select: initial;
        -moz-user-select: initial;
        -ms-user-select: initial;
        user-select: initial;
        padding: 8px;
        background: #f6f6f9;
        color: #555; }
        .sin-editor .card.card-default .comments::selection,
        .sin-editor .card.card-default .comments *::selection {
          background: #fff2a8; }
        .sin-editor .card.card-default .comments .file-list {
          color: #ddd;
          width: 100%; }
        .sin-editor .card.card-default .comments .comment-input,
        .sin-editor .card.card-default .comments .comment .comment-input {
          position: relative;
          display: flex;
          flex-wrap: wrap; }
          .sin-editor .card.card-default .comments .comment-input > *,
          .sin-editor .card.card-default .comments .comment .comment-input > * {
            flex-shrink: 0; }
          .sin-editor .card.card-default .comments .comment-input #fn-note,
          .sin-editor .card.card-default .comments .comment .comment-input #fn-note {
            position: relative;
            min-height: 30px;
            padding: 4px 8.2px;
            background: #ffffff;
            border: 1px solid #e6e6eb; }
        .sin-editor .card.card-default .comments [contenteditable="true"]:focus {
          outline: none;
          border: none; }
        .sin-editor .card.card-default .comments .comment {
          font-size: 12px;
          padding: 4px 4px 4px 12px;
          margin-bottom: 5px; }
          .sin-editor .card.card-default .comments .comment:hover {
            background: #f0f0f4; }
          .sin-editor .card.card-default .comments .comment .usertag {
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
            font-weight: 800; }
          .sin-editor .card.card-default .comments .comment .file-list {
            color: #299c7d;
            width: 100%;
            text-align: right; }
            .sin-editor .card.card-default .comments .comment .file-list:hover {
              color: #2eb38f; }
          .sin-editor .card.card-default .comments .comment .area-comment .options {
            visibility: hidden;
            transition: none;
            color: #ccc; }
          .sin-editor .card.card-default .comments .comment .area-comment:hover .options {
            visibility: visible; }
          .sin-editor .card.card-default .comments .comment #fn-note {
            position: relative; }
            .sin-editor .card.card-default .comments .comment #fn-note.edit {
              background: #dedee1; }
          .sin-editor .card.card-default .comments .comment .area-reply {
            padding-left: 30px; }
            .sin-editor .card.card-default .comments .comment .area-reply .replies li {
              padding: 2px 10px;
              border-left: 2px solid #e1e1e7; }
              .sin-editor .card.card-default .comments .comment .area-reply .replies li.recent {
                border-left: 2px solid #2ABB9B; }
              .sin-editor .card.card-default .comments .comment .area-reply .replies li .options {
                visibility: hidden;
                transition: none;
                color: #ccc; }
              .sin-editor .card.card-default .comments .comment .area-reply .replies li:hover {
                border-left-color: #2ABB9B; }
                .sin-editor .card.card-default .comments .comment .area-reply .replies li:hover .options {
                  visibility: visible; }
            .sin-editor .card.card-default .comments .comment .area-reply .comment-input {
              border-left: 2px solid #e1e1e7; }
              .sin-editor .card.card-default .comments .comment .area-reply .comment-input #fn-note {
                min-height: 22px;
                padding: 2px 8.2px;
                font-size: 12px;
                margin-left: 10px;
                margin-top: 2px;
                width: calc(100% - 100px); }
    .sin-editor .card.card-in-action {
      border-left: 4px solid #F9BF3B; }
    .sin-editor .card .tabbar {
      padding: 0 2px; }
    .sin-editor .card.card-primary {
      background: #ffffff; }
      .sin-editor .card.card-primary .tabbar {
        background: #4B77BE;
        border-bottom: none; }
        .sin-editor .card.card-primary .tabbar .toolbar {
          border-bottom: none; }
      .sin-editor .card.card-primary .footer {
        text-align: center; }
        .sin-editor .card.card-primary .footer a.btn {
          color: #4B77BE; }
  .sin-editor news {
    display: block; }
    .sin-editor news.ng-leave {
      transition: all .5s;
      opacity: 1; }
      .sin-editor news.ng-leave.ng-leave-active {
        opacity: 0;
        transform: translate(200px); }
    .sin-editor news.ng-enter {
      transition: all .5s;
      opacity: 0;
      transform: translateY(-100px); }
      .sin-editor news.ng-enter.ng-enter-active {
        opacity: 1;
        transform: translateY(0); }
  .sin-editor .modal-dialog news .card.card-default {
    display: flex;
    flex-direction: row;
    width: 720px;
    max-height: 340px;
    min-height: 200px; }
    .sin-editor .modal-dialog news .card.card-default .content-wrapper {
      display: flex;
      flex-grow: 1; }
    .sin-editor .modal-dialog news .card.card-default .title {
      display: flex;
      flex-direction: column;
      width: 80px;
      flex-shrink: 0;
      margin-right: 0;
      text-align: right;
      border-bottom: none; }
    .sin-editor .modal-dialog news .card.card-default .news-info {
      position: relative;
      width: auto;
      left: 0;
      margin-top: 10px; }
    .sin-editor .modal-dialog news .card.card-default .body {
      max-height: 340px;
      overflow: auto;
      flex-grow: 1; }
    .sin-editor .modal-dialog news .card.card-default .comments {
      width: 180px;
      flex-shrink: 0;
      padding: 8px 10px;
      display: flex;
      flex-direction: column; }
      .sin-editor .modal-dialog news .card.card-default .comments > ul {
        width: 100%;
        overflow: auto;
        flex-grow: 1; }
      .sin-editor .modal-dialog news .card.card-default .comments .comment .area-reply {
        padding-left: 10px; }
      .sin-editor .modal-dialog news .card.card-default .comments .comment-input {
        width: 100%;
        max-height: 40px;
        flex-shrink: 0;
        align-self: flex-end;
        display: flex; }
        .sin-editor .modal-dialog news .card.card-default .comments .comment-input .sin-editor-inline {
          flex-grow: 1;
          overflow: hidden; }
  .sin-editor .typeahead {
    left: 0;
    height: 0;
    overflow: hidden;
    padding: 1px 2px;
    position: absolute;
    opacity: 0;
    transition: all .2s;
    margin-top: 10px;
    z-index: 999; }
    .sin-editor .typeahead.block {
      width: 100%; }
    .sin-editor .typeahead.show {
      opacity: 1;
      margin-top: 0;
      height: auto;
      transition: all .2s; }
    .sin-editor .typeahead ul.typeahead-list {
      position: relative;
      background: white;
      display: block;
      border: 1px solid #e1e1e7;
      box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
      -webkit-box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
      cursor: default;
      z-index: 1000; }
      .sin-editor .typeahead ul.typeahead-list li {
        cursor: pointer;
        display: block;
        padding: 0 12px;
        height: 35px;
        line-height: 35px; }
        .sin-editor .typeahead ul.typeahead-list li span {
          padding: 6px 0; }
        .sin-editor .typeahead ul.typeahead-list li.active {
          background: #F9BF3B;
          color: white;
          font-weight: bold; }
  .sin-editor .toolbar {
    display: block;
    cursor: default;
    margin: 0;
    border-bottom: 1px solid #f1f1f5; }
    .sin-editor .toolbar:before, .sin-editor .toolbar:after {
      clear: both;
      display: block;
      content: ''; }
    .sin-editor .toolbar li {
      display: block;
      cursor: pointer;
      float: left;
      padding: 0;
      width: 38px;
      height: 38px;
      line-height: 35px; }
      .sin-editor .toolbar li button {
        touch-action: manipulation;
        cursor: pointer;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        border: none;
        background-image: none;
        white-space: nowrap;
        vertical-align: middle;
        width: 100%;
        height: 100%;
        text-align: center;
        background: transparent;
        color: #ccc;
        transition: all .2s; }
        .sin-editor .toolbar li button:hover {
          color: #555; }
      .sin-editor .toolbar li:hover {
        box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
        -webkit-box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1); }
  .sin-editor .modal-backdrop {
    position: fixed;
    left: 0;
    top: 0;
    background: rgba(150, 150, 150, 0.5); }
  .sin-editor .modal {
    position: fixed;
    width: 100%;
    height: 100%; }
@font-face {
  .sin-editor .modal {
    font-family: 'NanumBarunGothic';
    src: url("/fonts/NanumBarunGothic.ttf"); } }
    .sin-editor .modal a, .sin-editor .modal abbr, .sin-editor .modal acronym, .sin-editor .modal address, .sin-editor .modal applet, .sin-editor .modal article, .sin-editor .modal aside, .sin-editor .modal audio, .sin-editor .modal b, .sin-editor .modal big, .sin-editor .modal blockquote, .sin-editor .modal body, .sin-editor .modal canvas, .sin-editor .modal caption, .sin-editor .modal center, .sin-editor .modal cite, .sin-editor .modal code, .sin-editor .modal dd, .sin-editor .modal del, .sin-editor .modal details, .sin-editor .modal dfn, .sin-editor .modal div, .sin-editor .modal dl, .sin-editor .modal dt, .sin-editor .modal em, .sin-editor .modal embed, .sin-editor .modal fieldset, .sin-editor .modal figcaption, .sin-editor .modal figure, .sin-editor .modal footer, .sin-editor .modal form, .sin-editor .modal h1, .sin-editor .modal h2, .sin-editor .modal h3, .sin-editor .modal h4, .sin-editor .modal h5, .sin-editor .modal h6, .sin-editor .modal header, .sin-editor .modal hgroup, .sin-editor .modal html, .sin-editor .modal i, .sin-editor .modal iframe, .sin-editor .modal img, .sin-editor .modal ins, .sin-editor .modal kbd, .sin-editor .modal label, .sin-editor .modal legend, .sin-editor .modal li, .sin-editor .modal mark, .sin-editor .modal menu, .sin-editor .modal nav, .sin-editor .modal object, .sin-editor .modal ol, .sin-editor .modal output, .sin-editor .modal p, .sin-editor .modal pre, .sin-editor .modal q, .sin-editor .modal ruby, .sin-editor .modal s, .sin-editor .modal samp, .sin-editor .modal section, .sin-editor .modal small, .sin-editor .modal span, .sin-editor .modal strike, .sin-editor .modal strong, .sin-editor .modal sub, .sin-editor .modal summary, .sin-editor .modal sup, .sin-editor .modal table, .sin-editor .modal tbody, .sin-editor .modal td, .sin-editor .modal tfoot, .sin-editor .modal th, .sin-editor .modal thead, .sin-editor .modal time, .sin-editor .modal tr, .sin-editor .modal tt, .sin-editor .modal u, .sin-editor .modal ul, .sin-editor .modal var, .sin-editor .modal video {
      margin: 0;
      padding: 0;
      border: 0;
      vertical-align: baseline; }
    .sin-editor .modal article, .sin-editor .modal aside, .sin-editor .modal details, .sin-editor .modal figcaption, .sin-editor .modal figure, .sin-editor .modal footer, .sin-editor .modal header, .sin-editor .modal hgroup, .sin-editor .modal menu, .sin-editor .modal nav, .sin-editor .modal section {
      display: block; }
    .sin-editor .modal body {
      font-family: "NanumBarunGothic",Helvetica,Arial,sans-serif;
      font-size: 14px;
      line-height: 1.42857143;
      color: #333; }
    .sin-editor .modal ol, .sin-editor .modal ul {
      list-style: none; }
    .sin-editor .modal blockquote, .sin-editor .modal q {
      quotes: none; }
    .sin-editor .modal blockquote:after, .sin-editor .modal blockquote:before, .sin-editor .modal q:after, .sin-editor .modal q:before {
      content: '';
      content: none; }
    .sin-editor .modal table {
      border-collapse: collapse;
      border-spacing: 0; }
    .sin-editor .modal * {
      box-sizing: border-box; }
    .sin-editor .modal body, .sin-editor .modal html {
      height: 100%; }
    .sin-editor .modal .global-width {
      max-width: 968px; }
    .sin-editor .modal .margin-auto {
      margin: 0 auto; }
    .sin-editor .modal .txt-center {
      text-align: center; }
    .sin-editor .modal .shadow, .sin-editor .modal .modal-dialog {
      box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
      -webkit-box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1); }
    .sin-editor .modal .pull-right {
      float: right !important; }
    .sin-editor .modal .pull-left {
      left: left !important; }
    .sin-editor .modal input {
      font-family: "NanumBarunGothic",Helvetica,Arial,sans-serif; }
    .sin-editor .modal a {
      cursor: pointer; }
      .sin-editor .modal a.default {
        color: #2ABB9B; }
        .sin-editor .modal a.default:hover {
          text-decoration: underline; }
      .sin-editor .modal a.btn {
        opacity: 0.5;
        text-decoration: none;
        transition: all .2s; }
        .sin-editor .modal a.btn:hover {
          opacity: 1; }
    .sin-editor .modal .close {
      position: absolute;
      right: 10px;
      top: 10px;
      display: inline-block;
      font-family: 'Glyphicons Regular';
      font-style: normal;
      font-weight: normal;
      line-height: 1;
      vertical-align: middle;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale; }
      .sin-editor .modal .close::before {
        content: "\E208"; }
    .sin-editor .modal .hidden {
      display: none !important; }
    .sin-editor .modal .light {
      color: #dddddd; }
    .sin-editor .modal .ng-hide.ng-hide-animate {
      display: none !important; }
    .sin-editor .modal .glyphicons.flip-x {
      transform: rotateY(180deg); }
    .sin-editor .modal .glyphicons.flip-y {
      transform: rotateX(180deg); }
    .sin-editor .modal .form-flex {
      display: flex; }
      .sin-editor .modal .form-flex input.form-input {
        margin-bottom: 0; }
    .sin-editor .modal .modal-dialog {
      position: fixed;
      top: 30%;
      left: 50%;
      min-width: 280px;
      transform: translate(-50%);
      background: white;
      -webkit-border-radius: 2px;
      -moz-border-radius: 2px;
      border-radius: 2px;
      border-bottom: 2px solid #e1e1e7; }
      .sin-editor .modal .modal-dialog .modal-title {
        height: 100px; }
      .sin-editor .modal .modal-dialog .modal-body {
        padding: 5px 0;
        border-top: 1px solid #f1f1f5; }
    .sin-editor .modal.fade {
      opacity: 0;
      -webkit-transition: opacity .15s ease-out;
      -o-transition: opacity .15s ease-out;
      transition: opacity .15s ease-out; }
      .sin-editor .modal.fade.in {
        opacity: 1; }
    .sin-editor .modal.danger .modal-dialog {
      background: #E2747D;
      border-bottom-color: #c06062;
      color: white; }
      .sin-editor .modal.danger .modal-dialog .modal-body {
        border-top-color: #f98486; }
  .sin-editor #loading-target {
    display: block;
    margin: 0 auto; }
  .sin-editor .well {
    background: #6c7a89;
    border-bottom: 1px solid #f1f1f5;
    border-radius: 2px;
    padding: 16px 20px;
    color: #fff;
    margin: 10px 0; }
  .sin-editor .namespace {
    position: relative;
    padding: 8px 8px 8px 16px;
    border-radius: 1px;
    background: #fff;
    border-bottom: 1px #f1f1f5;
    height: 40px;
    line-height: 30px;
    color: #222;
    margin-right: 12px; }
    .sin-editor .namespace:before {
      display: block;
      position: absolute;
      width: 4px;
      height: 100%;
      content: '';
      background: #2ABB9B;
      top: 0;
      left: 0; }
    .sin-editor .namespace .content {
      display: inline-block;
      vertical-align: middle; }
    .sin-editor .namespace .options {
      display: inline-block;
      vertical-align: middle;
      margin-top: -4px; }
    .sin-editor .namespace.empty {
      border: 1px dashed #fff;
      background: transparent;
      color: white;
      padding: 0; }
      .sin-editor .namespace.empty form {
        display: inline-block; }
        .sin-editor .namespace.empty form input {
          background: transparent;
          padding: 8px 16px; }
      .sin-editor .namespace.empty:before {
        display: none; }
  .sin-editor .caret {
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: 2px;
    vertical-align: middle;
    border-top: 4px dashed;
    border-top: 4px solid \9;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent; }
  .sin-editor .dropup,
  .sin-editor .dropdown {
    position: relative; }
  .sin-editor .dropdown-toggle:focus {
    outline: 0; }
  .sin-editor .dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 999;
    display: none;
    float: left;
    min-width: 160px;
    padding: 5px 0;
    margin: 2px 0 0;
    list-style: none;
    font-size: 14px;
    text-align: left;
    background-color: #fff;
    border: 1px solid #ccc;
    border: 1px solid #e1e1e7;
    border-radius: 0;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    background-clip: padding-box; }
    .sin-editor .dropdown-menu.pull-right {
      right: 0;
      left: auto; }
    .sin-editor .dropdown-menu .divider {
      height: 1px;
      margin: 9px 0;
      overflow: hidden;
      background-color: #e5e5e5; }
    .sin-editor .dropdown-menu > li > a {
      display: block;
      clear: both;
      font-weight: normal;
      padding: 5px 10px;
      font-size: 12px;
      text-indent: 5px;
      color: #222;
      text-align: left;
      text-decoration: none;
      white-space: nowrap; }
  .sin-editor .dropdown-menu > li > a:hover, .sin-editor .dropdown-menu > li > a:focus {
    text-decoration: none;
    color: #262626;
    background-color: #f5f5f5; }
  .sin-editor .dropdown-menu > .active > a, .sin-editor .dropdown-menu > .active > a:hover, .sin-editor .dropdown-menu > .active > a:focus {
    color: #fff;
    text-decoration: none;
    outline: 0;
    background-color: #62c48f; }
  .sin-editor .btn.btn-primary + .dropdown-menu > .active > a, .sin-editor .sin-editor-default + .sin-editor-footer button.btn + .dropdown-menu > .active > a, .sin-editor .sin-editor-inline + .sin-editor-footer .btn + .dropdown-menu > .active > a, .sin-editor .sin-editor-inline-edit + .sin-editor-footer .btn + .dropdown-menu > .active > a {
    background: #62c48f; }
  .sin-editor .btn.btn-info + .dropdown-menu > .active > a {
    background: #568FE4; }
  .sin-editor .btn.btn-warning + .dropdown-menu > .active > a, .sin-editor .sin-editor-default-edit + .sin-editor-footer button.btn + .dropdown-menu > .active > a {
    background: #F9BF3B; }
  .sin-editor .btn.btn-danger + .dropdown-menu > .active > a {
    background: #E2747D; }
  .sin-editor .dropdown-menu > .disabled > a, .sin-editor .dropdown-menu > .disabled > a:hover, .sin-editor .dropdown-menu > .disabled > a:focus {
    color: #777777; }
  .sin-editor .dropdown-menu > .disabled > a:hover, .sin-editor .dropdown-menu > .disabled > a:focus {
    text-decoration: none;
    background-color: transparent;
    background-image: none; }
  .sin-editor .open > .dropdown-menu {
    display: block; }
  .sin-editor .open > a {
    outline: 0; }
  .sin-editor .dropdown-menu-right {
    left: auto;
    right: 0; }
  .sin-editor .dropdown-menu-left {
    left: 0;
    right: auto; }
  .sin-editor .dropdown-header {
    display: block;
    padding: 3px 20px;
    font-size: 12px;
    line-height: 1.42857;
    color: #777777;
    white-space: nowrap; }
  .sin-editor .dropdown-backdrop {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    z-index: 989; }
  .sin-editor .pull-right > .dropdown-menu {
    right: 0;
    left: auto; }
  .sin-editor .dropup .caret,
  .sin-editor .navbar-fixed-bottom .dropdown .caret {
    border-top: 0;
    border-bottom: 4px dashed;
    border-bottom: 4px solid \9;
    content: ""; }
  .sin-editor .dropup .dropdown-menu,
  .sin-editor .navbar-fixed-bottom .dropdown .dropdown-menu {
    top: auto;
    bottom: 100%;
    margin-bottom: 2px; }
  .sin-editor .control-group {
    display: inline-block;
    vertical-align: top;
    background: #fff;
    text-align: left;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    padding: 30px;
    width: 200px;
    height: 210px;
    margin: 10px; }
  .sin-editor .control {
    display: block;
    position: relative;
    padding-left: 30px;
    margin-bottom: 10px;
    cursor: pointer;
    line-height: 26px; }
    .sin-editor .control.nomargin {
      margin-bottom: 0; }
    .sin-editor .control input {
      position: absolute;
      z-index: -1;
      opacity: 0; }
  .sin-editor .control__indicator {
    position: absolute;
    top: 2px;
    left: 0;
    height: 20px;
    width: 20px;
    background: #e6e6e6; }
    .sin-editor .control__indicator:after {
      content: '';
      position: absolute;
      display: none; }
  .sin-editor .control--radio .control__indicator {
    border-radius: 50%; }
  .sin-editor .control:hover input ~ .control__indicator,
  .sin-editor .control input:focus ~ .control__indicator {
    background: #ccc; }
  .sin-editor .control input:checked ~ .control__indicator {
    background: #2aa888; }
  .sin-editor .control:hover input:not([disabled]):checked ~ .control__indicator,
  .sin-editor .control input:checked:focus ~ .control__indicator {
    background: #299c7d; }
  .sin-editor .control input:disabled ~ .control__indicator {
    background: #e6e6e6;
    opacity: 0.6;
    pointer-events: none; }
  .sin-editor .control input:checked ~ .control__indicator:after {
    display: block; }
  .sin-editor .control--checkbox .control__indicator:after {
    left: 8px;
    top: 4px;
    width: 3px;
    height: 8px;
    border: solid #fff;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg); }
  .sin-editor .control--checkbox input:disabled ~ .control__indicator:after {
    border-color: #7b7b7b; }
  .sin-editor .control--radio .control__indicator:after {
    left: 7px;
    top: 7px;
    height: 6px;
    width: 6px;
    border-radius: 50%;
    background: #fff; }
  .sin-editor .control--radio input:disabled ~ .control__indicator:after {
    background: #7b7b7b; }
  .sin-editor .select {
    position: relative;
    display: inline-block;
    margin-bottom: 15px;
    width: 100%; }
  .sin-editor .select select {
    display: inline-block;
    width: 100%;
    cursor: pointer;
    padding: 10px 15px;
    outline: 0;
    border: 0;
    border-radius: 0;
    background: #e6e6e6;
    color: #7b7b7b;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none; }
  .sin-editor .select select::-ms-expand {
    display: none; }
  .sin-editor .select select:hover,
  .sin-editor .select select:focus {
    color: #000;
    background: #ccc; }
  .sin-editor .select select:disabled {
    opacity: 0.5;
    pointer-events: none; }
  .sin-editor .select__arrow {
    position: absolute;
    top: 16px;
    right: 15px;
    width: 0;
    height: 0;
    pointer-events: none;
    border-style: solid;
    border-width: 8px 5px 0 5px;
    border-color: #7b7b7b transparent transparent transparent; }
  .sin-editor .select select:hover ~ .select__arrow,
  .sin-editor .select select:focus ~ .select__arrow {
    border-top-color: #000; }
  .sin-editor .select select:disabled ~ .select__arrow {
    border-top-color: #ccc; }
  @media (min-width: 768px) {
    .sin-editor .navbar-right .dropdown-menu {
      right: 0;
      left: auto; }
    .sin-editor .navbar-right .dropdown-menu-left {
      left: 0;
      right: auto; } }
  .sin-editor .dracula .toolbar {
    border-bottom-color: #797979; }
  .sin-editor .dracula .card.card-default {
    background: #616161;
    border-bottom: 2px solid #565656;
    color: #fff; }
    .sin-editor .dracula .card.card-default .title {
      border-bottom: 1px solid #797979;
      color: #e1e1e7; }
    .sin-editor .dracula .card.card-default .body [contenteditable="true"] {
      background: #c7a24c; }
    .sin-editor .dracula .card.card-default .comments {
      background: #555;
      color: #f1f1f1; }
      .sin-editor .dracula .card.card-default .comments .comment-input #fn-note,
      .sin-editor .dracula .card.card-default .comments .comment .comment-input #fn-note {
        background: #4a4a4a;
        border: 1px solid #e6e6eb;
        border: none; }
      .sin-editor .dracula .card.card-default .comments .comment {
        transition: background .1s; }
        .sin-editor .dracula .card.card-default .comments .comment:hover {
          background: #4a4a4a; }
          .sin-editor .dracula .card.card-default .comments .comment:hover .comment-input #fn-note {
            background: #555555; }
        .sin-editor .dracula .card.card-default .comments .comment .area-reply .replies li,
        .sin-editor .dracula .card.card-default .comments .comment .area-reply .comment-input {
          border-left-color: #797979; }
  .sin-editor .dracula .modal .modal-dialog {
    background: #616161;
    border-bottom-color: #4a4a4a; }
  .sin-editor .sin-editor-default,
  .sin-editor .sin-editor-inline,
  .sin-editor .sin-editor-default-edit {
    min-height: 90px;
    -webkit-user-select: initial;
    padding: 16px 20px 26px;
    font-size: 14px; }
    .sin-editor .sin-editor-default::selection,
    .sin-editor .sin-editor-default *::selection,
    .sin-editor .sin-editor-inline::selection,
    .sin-editor .sin-editor-inline *::selection,
    .sin-editor .sin-editor-default-edit::selection,
    .sin-editor .sin-editor-default-edit *::selection {
      background: #fff2a8; }
  .sin-editor [contenteditable="true"]:focus {
    border: none;
    outline: none; }
  .sin-editor [contenteditable="true"]::selection {
    background: #fff2a8; }
  .sin-editor .sin-editor-footer {
    position: relative;
    display: flex;
    justify-content: flex-end; }
  .sin-editor .sin-editor-default + .sin-editor-footer,
  .sin-editor .sin-editor-default-edit + .sin-editor-footer {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    border-top: 1px solid #f1f1f5;
    text-align: right;
    padding: 6px 15px; }
    .sin-editor .sin-editor-default + .sin-editor-footer + .file-list,
    .sin-editor .sin-editor-default-edit + .sin-editor-footer + .file-list {
      padding: 5px 20px;
      font-size: 12px;
      color: #999;
      text-align: right; }
      .sin-editor .sin-editor-default + .sin-editor-footer + .file-list.empty,
      .sin-editor .sin-editor-default-edit + .sin-editor-footer + .file-list.empty {
        padding: 0 !important; }
      .sin-editor .sin-editor-default + .sin-editor-footer + .file-list .removed,
      .sin-editor .sin-editor-default-edit + .sin-editor-footer + .file-list .removed {
        text-decoration: line-through; }
  .sin-editor .sin-editor-default + .sin-editor-footer button,
  .sin-editor .sin-editor-inline + .sin-editor-footer button,
  .sin-editor .sin-editor-inline-edit + .sin-editor-footer button {
    width: 100px; }
  .sin-editor .sin-editor-default + .sin-editor-footer a:hover, .sin-editor .sin-editor-default + .sin-editor-footer + * a:hover,
  .sin-editor .sin-editor-inline + .sin-editor-footer a:hover,
  .sin-editor .sin-editor-inline + .sin-editor-footer + * a:hover,
  .sin-editor .sin-editor-inline-edit + .sin-editor-footer a:hover,
  .sin-editor .sin-editor-inline-edit + .sin-editor-footer + * a:hover {
    color: #2ABB9B !important; }
  .sin-editor .sin-editor-default + .sin-editor-footer + .file-list .removed,
  .sin-editor .sin-editor-inline + .sin-editor-footer + .file-list .removed,
  .sin-editor .sin-editor-inline-edit + .sin-editor-footer + .file-list .removed {
    text-decoration: line-through; }
  .sin-editor .sin-editor-default-edit + .sin-editor-footer button {
    width: 100px; }
  .sin-editor .sin-editor-default-edit + .sin-editor-footer a:hover, .sin-editor .sin-editor-default-edit + .sin-editor-footer + * a:hover {
    color: #F9BF3B !important; }
  .sin-editor .sin-editor-inline {
    width: calc(100% - 55px);
    margin-right: 5px; }
    .sin-editor .sin-editor-inline + .sin-editor-footer {
      width: 45px; }
      .sin-editor .sin-editor-inline + .sin-editor-footer + .file-list {
        padding: 5px 20px;
        font-size: 12px;
        color: #999;
        text-align: right; }
        .sin-editor .sin-editor-inline + .sin-editor-footer + .file-list.empty {
          padding: 0 !important; }
        .sin-editor .sin-editor-inline + .sin-editor-footer + .file-list .removed {
          text-decoration: line-through; }
  .sin-editor .sin-editor-inline-edit {
    float: left;
    width: calc(100% - 55px);
    margin-right: 5px; }
    .sin-editor .sin-editor-inline-edit + .sin-editor-footer {
      float: left;
      width: 45px; }
  .sin-editor::before, .sin-editor::after {
    display: block;
    content: "";
    clear: both; }

.hash-input {
  border: none;
  outline: none;
  line-height: 1.2; }
  .hash-input.readonly {
    padding: 1px 4px;
    border-bottom: 2px solid #F9BF3B;
    background: #F9BF3B;
    color: white;
    border-radius: 2px;
    margin: 1px 2px;
    -webkit-user-select: none; }
    .hash-input.readonly.hash-refer {
      border-bottom: 2px solid #F9BF3B;
      background: #F9BF3B; }
    .hash-input.readonly.hash-stuff {
      border-bottom: 2px solid #4183D7;
      background: #4183D7; }

#hash-form {
  display: inline-block; }

/* black theme */
.dracula .sin-editor-default + .sin-editor-footer,
.dracula .sin-editor-default-edit + .sin-editor-footer {
  border-top: 1px solid #797979; }

/*# sourceMappingURL=sinEditor.css.map */
