#sub .card {
  min-height: 200px; }
  #sub .card.ng-enter {
    transform: rotate(-20deg) translate(-90px);
    transition: all .5s;
    opacity: 0;
    border-bottom: 2px solid #e1e1e7;
    border-radius: 2px; }
    #sub .card.ng-enter.ng-enter-active {
      opacity: 1;
      transform: rotate(0deg) translate(0px); }

.card-container.flatten-3d.rotateX {
  perspective: none; }
  .card-container.flatten-3d.rotateX .card {
    transform-style: flat; }
.card-container.ng-leave {
  transition: all .5s;
  opacity: 1; }
  .card-container.ng-leave.ng-leave-active {
    opacity: 0;
    transform: translate(200px); }

.news-info {
  position: absolute;
  display: block;
  width: 150px;
  margin-left: -150px;
  left: -20px;
  font-size: 12px;
  top: 3px; }
  .news-info .news-timestamp {
    color: #bbb;
    display: block;
    text-align: right; }
  .news-info .news-author {
    color: #2ABB9B;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-bottom: 5px; }
    .news-info .news-author img {
      width: 36px;
      height: 36px;
      margin-bottom: 3px; }

/* file upload */
.drop-box .dragtest {
  display: none; }
.drop-box.dragover .dragtest {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  transition: all .2s;
  color: #fff; }
  .drop-box.dragover .dragtest .glyphicons {
    font-size: 50px;
    margin-bottom: 10px; }
.drop-box.rejectover {
  background: red; }

.comment-input .dragtest .glyphicons,
.comment .dragtest .glyphicons {
  display: none; }

#news-draft {
  background: transparent; }
  #news-draft #issue-title, #news-draft #editor-tab, #news-draft > .sin-editor {
    background: #fff;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1); }
  #news-draft #issue-title {
    position: relative;
    display: flex;
    height: 40px;
    margin-bottom: 6px;
    border-left: 4px solid #ff8686;
    align-items: center; }
    #news-draft #issue-title label {
      color: #c1c1c1;
      margin: 0 10px;
      border-right: 1px solid #e1e1e7;
      padding-right: 10px; }
    #news-draft #issue-title input {
      flex: 1;
      margin: 0;
      border: none;
      font-size: 14px; }
    #news-draft #issue-title.ng-enter {
      transition: all .5s;
      opacity: 0;
      margin-top: -40px;
      margin-bottom: 0; }
      #news-draft #issue-title.ng-enter.ng-enter-active {
        opacity: 1;
        margin-top: 0;
        margin-bottom: 6px; }
    #news-draft #issue-title.ng-leave {
      transition: all .5s;
      opacity: 1;
      margin-top: 0;
      margin-bottom: 6px; }
      #news-draft #issue-title.ng-leave.ng-leave-active {
        opacity: 0;
        margin-top: -40px;
        margin-bottom: 0; }
  #news-draft #editor-tab {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #f1f1f5;
    padding: 0 10px; }

.dracula #news-draft #issue-title, .dracula #news-draft #editor-tab, .dracula #news-draft > .sin-editor {
  background: #616161;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1); }
.dracula #news-draft #issue-title input {
  color: #fff; }
.dracula #news-draft #editor-tab {
  border-bottom-color: #797979; }

/*# sourceMappingURL=tab1.css.map */
